header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  max-width: 630px;
  margin: auto;
  margin-bottom: 2rem;
  border-bottom: 3px solid $border-colour;

  a {
    font-size: 1.5rem;
  }
}
