header {
  padding-top: 3rem;
  width: 100%;
  max-width: 630px;
  margin: auto;
  position: relative;
  
  a {
    display: inline-block;
  }

  img {
    width: 100%;
    max-width: 8rem;
    border: 0;
    display: inline;
    margin: 0;

    @media (max-width: 640px) {
      max-width: 4rem;
    }
  }
}
