<header class="container" role="banner">
  <picture>
    <source 
      srcset="/images/logo-dark.svg" 
      media="(prefers-color-scheme: dark)"
    >
    <img src="/images/logo.svg" alt="Craig Abbott signature logo">
  </picture>
</header>
