{% extends 'layouts/base.njk' %}

{% block content %}
<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">
    {% block markdown %}{% endblock %}
  </div>
</main>
{% endblock %}