body[data-theme="light"] {
  .skip-link {
    &:focus {
      color: $focus-colour-light;
      background-color: $focus-background-light;
      -webkit-box-shadow: 0 -2px $focus-background-light, 0 4px $focus-colour-light;
      box-shadow: 0 -2px $focus-background-light, 0 4px $focus-colour-light;
    }
  }
}
