---
layout: layouts/blog-page.njk
pagination:
  data: collections.html
  alias: post
  size: 10
  reverse: true
permalink: >-
  /blog/tags/html/{{"page-" + (pagination.pageNumber + 1) if
  pagination.pageNumber > 0}}/
eleventyComputed:
  title: >-
    Posts tagged with ‘html’ {{"- Page " + (pagination.pageNumber + 1) if
    pagination.pageNumber > 0}}
---

