---
layout: layouts/blog-page.njk
pagination:
  data: collections.accessibility-posts
  alias: post
  size: 10
permalink: >-
  /blog/tags/accessibility/{{"page-" + (pagination.pageNumber + 1) if
  pagination.pageNumber > 0}}/
eleventyComputed:
  title: >-
    Posts tagged with ‘accessibility’ {{"- Page " + (pagination.pageNumber + 1)
    if pagination.pageNumber > 0}}
---

