---
layout: layouts/blog-page.njk
pagination:
  data: collections.strategy-posts
  alias: post
  size: 10
permalink: >-
  /blog/tags/strategy/{{"page-" + (pagination.pageNumber + 1) if
  pagination.pageNumber > 0}}/
eleventyComputed:
  title: >-
    Posts tagged with ‘strategy’ {{"- Page " + (pagination.pageNumber + 1) if
    pagination.pageNumber > 0}}
---

