@mixin box {
  padding: var(--s0);
  outline: 0.125rem solid transparent;
  outline-offset: -0.125rem;

  &--l { padding: var(--s2) var(--s0); }
  &--m { padding: var(--s1) var(--s0); }
  &--s { padding: var(--s-2) var(--s0); }
  &--border-s { border: thin solid; }
  &--border-m { border: medium solid; }
  &--border-l { border: thick solid; }

  > :last-child {
    margin-bottom: 0;
  }
}

.box {
  @include box;
}
