.section {
  margin-bottom: 2rem;
  padding: 0 0 2rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  
  &:first-of-type {
    margin-top: 2rem;
  }
  &:last-of-type {
    border: 0;
  }
}
