@mixin theme__footer--dark {
  .page-footer {
    .support-links {
      border-top-color: $border-colour-dark;
    }

    a {
      &:visited {
        color: $link-colour-dark;
      }
  
      &:hover {
        color: $link-hover-dark;
      }
  
      &:focus {
        color: $focus-colour-dark;
      }
    }
  }
}