{% extends 'layouts/base.njk' %}

{%- set metaDescription -%}
  {%- include './meta-description.txt' -%}
{%- endset -%}

{% block content %}

<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">

    {% include './partials/introduction.njk' %}
    {% include './partials/contents.njk' %}
    {% include './partials/work-design.njk' %}
    {% include './partials/work-accessibility.njk' %}

  </div> 
</main>

{% endblock %}