{%- macro articleInfo (params) -%}
  <div>
    <dl>
      <div class="article-info">
        <dt>
          Published:
        </dt>
        <dd class="postmetadata">
          <time datetime="{{params.date}}">
            {{params.date|prettyDate}}
          </time>
        </dd>
      </div>

      <div class="article-info">
        <dt>
          Read time:
        </dt>
        <dd>
          {{params.content|readTime}}
        </dd>
      </div>
      
      <div class="article-info">
        <dt>
          Tags:
        </dt>
        <dd>
          {%- if params.tags.length - 1 > 0-%}
            <ul class="tags-list">
              {%- for tag in params.tags -%}
                {% if '_' not in tag %}
                  <li>
                    <a class="tag" role="button" href="/blog/tags/{{tag}}">
                      {{tag}}
                    </a>
                  </li>
                {% endif %}
              {%- endfor -%}
            </ul>
          {%- else -%}
            {%- for tag in params.tags -%}
              {% if '_' not in tag %}
                <a class="tag" role="button" href="/blog/tags/{{tag}}">
                  {{tag}}
                </a>
              {% endif %}
            {%- endfor -%}
          {% endif %}
          <p>
            <a href="/blog/tags/{{tag}}">
              Browse all tags
            </a>
          </p>
        </dd>
      </div>
    </dl>
  </div>
{%- endmacro -%}
