{% extends '../../common/layout.njk' %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1>{{title}}</h1>
        <p>
          {{title}} page
        </p>
      </div>
    </div>
  </main>
{% endblock %}