<meta property="og:type" content="website">
<meta property="og:url" content="{{meta.canonicalURL}}">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{meta.description}}">
<meta name="image" property="og:image" content="{{site.url}}{{meta.image.href}}">
<meta property="og:image:alt" content="{{meta.image.alt}}">
<meta property="og:site_name" content="{{site.name}}">
<meta name="author" content="Craig Abbott">
