<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="canonical" href="{{site.url}}{{page.href}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    
    <title>{{page.title}} - {{site.title}}</title>
    <meta name="title" content="{{page.title}}">
    <meta name="description" content="{{page.metadesc}}">

    <meta name="theme-color" content="#f9f9f9">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#f9f9f9">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#222222">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{site.url}}{{page.href}}">
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:image" content="{{site.url}}/images/test-share-image.jpg" />
    <meta name="twitter:image:alt" content="Alt for test share image.">
    <meta name="twitter:site" content="@twitter" />

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.url}}{{page.href}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.metadesc}}">
    <meta property="og:image" content="{{site.url}}/images/test-share-image.jpg">
    <meta property="og:image:alt" content="Alt for test share image.">
    <meta property="og:site_name" content="test.url">

    <link rel="alternate" type="application/rss+xml" href="{{site.url}}/feed.xml" title="RSS Feed">

    {%- block headEnd -%}{%- endblock -%}
  </head>

  <body>
    {%- block main -%}{%- endblock -%}
  </body>
</html>
