{% extends '../../common/layout.njk' %}

{% block content %}

<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Sitemap</h1>

    <h2>Pages</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/talks">Talks</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/sitemap">Sitemap</a></li>
    </ul>

    <h2>Blog posts</h2>
    <ul>
      {% for post in posts %}
        <li><a href="/blog/{{post.slug}}">{{post.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock %}