{% extends '../../common/layout.njk' %}

{%- set metaDescription -%}
  {%- include './meta-description.txt' -%}
{%- endset -%}

{% block content %}
<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Sitemap</h1>

    <h2>Pages</h2>
    <ul class="list list--bullet">
      {% for page in pages %}
        <li><a href="{{page.slug}}">{{page.title}}</a></li>
      {% endfor %}
    </ul>

    <h2>Work</h2>
    <ul class="list list--bullet">
      {% for item in portfolio %}
        <li><a href="/work{{item.slug}}">{{item.title}}</a></li>
      {% endfor %}
    </ul>

    <h2>Blog posts</h2>
    <ul class="list list--bullet">
      {% for post in posts %}
        <li><a href="/blog/{{post.slug}}">{{post.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock %}