*, *:before, *:after {
  box-sizing: border-box;
}

html {
  width: 100%;
}

main {
  width: 100%;
  margin: auto;
  padding-bottom: 3rem;
  display: block;
  &:focus {
   outline: 0; 
  }
}

body {
  margin: 0;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border: 1px dashed;
}
code:focus {
  outline: 4px solid;
  outline-offset: 4px;
}
p > code {
  padding: 0 .5em;;
}

img {
  display: block;
  width: 100%;
  max-width: 630px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-width: 1px;
  border-style: solid;
}

ol {
  li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

li {
  line-height: 1.8rem;
}

blockquote {
  margin-left: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.25rem;
  border-left-width: 5px;
  border-left-style: solid;
}

fieldset {
  display: inline-block;
  padding: 0;
  border: 0;
}
