@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&display=swap');

html {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1em;
}

body {
  font-size: 1.1875rem;
  line-height: 1.31579;

}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-top: 3rem;
}

h3, h4, h5, h6 {
  margin-top: 1rem;
}

a {
  text-decoration: underline;

  &:focus {
    outline-width: 3px;
    outline-style: solid;
    outline-color: transparent;
    text-decoration: none;
  }
}

code {
  font-family: monospace, monospace;
  font-size: 1rem;
}

.heading-xlarge {
  font-size: 3rem;
  line-height: 1.04167;
}

.heading-large {
  font-size: 2.25rem;
  line-height: 1.11111;
}

.heading-medium {
  font-size: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.25;
}

.heading-small {
  font-size: 1.1875rem;
  margin-top: 2rem;
  font-size: 1.1875rem;
  line-height: 1.31579;
}

.font-size-small {
  font-size: 1rem;
}

.margin-bottom-1 {
  margin-bottom: .25rem;
}