{% extends '../../common/layout.njk' %}

{% block content %}

<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Blog {% if page > 1 %}- page {{page}}{% endif %}</h1>

    {% for post in posts %}
      <article class="section">
        <h2 class="heading-large">
          {{post.title}}
        </h2>

        {%- set mdcontent -%}{%- include 'posts/' + post.slug + '/excerpt.md' -%}{%- endset -%}
        {{mdcontent|markdown|safe}}

        <a class="read-full-article" href="/blog/{{post.slug}}">
          <span class="visually-hidden">{{post.title}}: </span>
          Read full article
        </a>
        <footer>
          <dl class="article-info">
            <dt class="article-info__text">Published:</dt><dd class="article-info__text">{{post.createdAt|formatDate}}</dd>
            <dt class="article-info__text">Read time:</dt><dd class="article-info__text">{{post.slug|readTime}}</dd>
          </dl>
        </footer>
      </article>
    {% endfor %}
  </div>
</main>

{% include 'common/components/pagination/template.njk' %}

{% endblock %}