{% extends '../../common/layout.njk' %}

{% block content %}

<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Talks
      </h1>
      
      <div class="section">
        <h2 class="heading-large">Empathy in Accessibility</h2>
        <p>
          This talk is about building empathy for users with impairments, making sure we are aware of how to design services that don’t disable people.
        </p>
        <p>
          Examples of things that have tripped me up in the past as well as suggesting tools we can use to help us test our designs.
        </p>
        <ul class="list list--bullet">
          <li>
            <a href="https://www.youtube.com/watch?v=OyGuEXq2PCc&t=243s">
              Watch <span class="visually-hidden">Empathy in accessibility </span>on YouTube
            </a>
          </li>
          <li>
            <a href="https://speakerdeck.com/abbott567/empathy-in-accessibility">
              View <span class="visually-hidden">Empathy in accessibility </span>slides on Speaker Deck
            </a>
          </li>
          <li>
            <a href="https://empathy-in-accessibility.netlify.app/start.html">
              View <span class="visually-hidden">Empathy in accessibility </span>slides as HTML
            </a>
          </li>
        </ul>
        <p>
          This talk was delivered at:
          <ul class="list list--bullet font-size-small">
            <li>Chester Devs - November 2020</li>
            <li>BPDTS - October 2020</li>
            <li>Asda / Walmart - September 2020</li>
            <li>Centre for Addiction and Mental Health Canada - July 2020</li>
            <li>Northumberland Council - June 2020</li>
            <li>Middlesbrough Frontend - March 2020</li>
            <li>Digital Leaders Week Newcastle - June 2019</li>
            <li>Newcastle City Council - June 2019</li>
            <li>Child Maintenance Group - June 2019</li>
            <li>DWP Blackpool - May 2019</li>
            <li>HMRC Newcastle May 2019</li>
            <li>Leeds Digital Festival - May 2019</li>
            <li>DWP Software Engineering Roadshow Blackpool - March 2019</li>
            <li>DWP Software Engineering Roadshow Newcastle - March 2019</li>
            <li>DWP Frontend meet-up - February 2019</li>
            <li>Services Week - January 2019</li>
            <li>HMRC - January 2019</li>
            <li>Sunderland Digital - August 2018</li>
            <li>Accessibility London - July 2018</li>
            <li>Frontend North East on - July 2018</li>
          </ul>
        </p>
      </div>
      
      <div class="section">
        <h2 class="heading-large">Prototyping with purpose</h2>
        <p>
          A talk about what prototypes are, why we use them, and how to avoid some common mistakes. Techniques and resources you can use, along with some working examples so you can build a prototype of your own.
        </p>
        <p>
          Examples of things that have tripped me up in the past as well as suggesting tools we can use to help us test our designs.
        </p>
        <ul class="list list--bullet">
          <li>
            <a href="https://speakerdeck.com/abbott567/prototyping-with-purpose">
              View <span class="visually-hidden">Prototyping with purpose </span>slides on Speaker Deck
            </a>
          </li>
        </ul>
        <p>
          This talk was delivered at:
          <ul class="list list--bullet font-size-small">
            <li>DXN Nottingham - 10 October 2018</li>
            <li>NUX Manchester - 4 June 2018</li>
            <li>Generator UX Conference - 17 January 2018</li>
            <li>NUX Newcastle - 28 September 2017</li>
            <li>Sunderland Digital - 19 July 2017</li>
          </ul>
        </p>
      </div>

      <div class="section">
        <h2 class="heading-large">What is 'normal' anyway?</h2>
        <p>
          In this, I talk about dealing with mental health and my personal journey. It is based on a blog post of the same name.
        </p>
        <ul class="list list--bullet">
          <li>
            <a href="https://speakerdeck.com/abbott567/what-is-normal-anyway">
              View <span class="visually-hidden">Prototyping with purpose </span>slides on Speaker Deck
            </a>
          </li>
          <li>
            <a href="/what-is-normal-anyway">
              Read <span class="visually-hidden">What is 'normal' anyway</span>blog post
            </a>
          </li>
        </ul>
        <p>
          This talk was delivered at:
          <ul class="list list--bullet font-size-small">
            <li>Geek Mental Help Newcastle - 3rd October 2017</li>
          </ul>
        </p>
      </div>
  </div>
</main>

{% endblock %}