{% extends '../../common/layout.njk' %}

{%- set metaDescription -%}
  {%- include './meta-description.txt' -%}
{%- endset -%}

{% block content %}
<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">Accessibility</h1>
    <p>
      This accessibility statement applies to craigabbott.co.uk.
    </p>
    <p>
      Although this is a personal website and not covered by accessibility law, 
      I want as many people as possible to be able to use this website. 
      This means you should be able to:
      <ul class="list list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>
          listen to most of the website using a screen reader (including the 
          most recent versions of JAWS, NVDA and VoiceOver)
        </li>
      </ul>
    </p>
    <p>
      <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on 
      making your device easier to use if you have a disability.
    </p>

    <h2 class="heading-medium">Contact information</h2>
    <p>
      I’m always looking to improve the accessibility of this website. If you 
      find any problems please let me know. I am 
      <a href="https://twitter.com/abbott567">@abbott567 on Twitter</a>.
    </p>

    <h2 class="heading-medium">Compliance status</h2>
    <p>
      This website is fully compliant with the Web Content Accessibility 
      Guidelines version 2.1 AA standard.
    </p>

  </div>
</main>

{% endblock %}