{% extends '../../common/layout.njk' %}

{%- set metaDescription -%}
  {%- include './meta-description.txt' -%}
{%- endset -%}

{% block content %}
<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">
    {{content|markdown|safe}}
  </div>
</main>

{% endblock %}