.page-footer {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding-left: 3rem;
  padding-right: 3rem;

  .support-links {
    padding-top: 1rem;
    border-top-width: 3px;
    border-top-style: solid;
  }
  
  .project-links li {
    font-size: .75rem;
    line-height: 1rem;
  }

  .support-links li {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    margin-right: 1rem;
    @media (max-width: 480px) {
      display: block;
    }
  }
}
