<footer class="page-footer" role="contentinfo">
  <h2 class="visually-hidden">Support links</h2>
  <ul class="support-links">
    <li><a href="/accessibility">Accessibility</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/sitemap">Sitemap</a></li>
    <li><a href="/feed.xml">RSS Feed</a></li>
    
  </ul>
  
  <h2 class="visually-hidden">Project links</h2>
  <ul class="project-links">
    <li>Powered by <a href="https://nodejs.org/en/">NodeJs</a></li>
    <li><a href="https://github.com/abbott567/blog/">View this project on GitHub</a></li>    
  </ul>
</footer>
