article {
  margin-bottom: 2rem;
  padding: 0 0 2rem;
  border-bottom: 1px solid $border-colour;

  &:first-of-type {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $border-colour;
  }
  &:last-of-type {
    border: 0;
  }
}
