body[data-theme="dark"] {
  background-color: $body-background-dark;
  color: $body-text-dark;
  
  blockquote {
    border-color: $border-colour-dark;
  }

  img {
    opacity: 75%;
  }

  pre:focus {
    border-color: $focus-colour-dark;
    outline-color: $focus-background-dark;
  }

  p > code {
    color: $inline-code-colour-dark;
  }
}
