body[data-theme="dark"] {
  background-color: $body-background-dark;
  color: $body-text-dark;
  
  blockquote {
    border-color: $border-colour-dark;
  }
  
  code {
    color: $inline-code-colour-dark;
  }

  img {
    opacity: 75%;
  }
}
