// Colours
$body-text-dark: #ddd;
$body-secondary-dark: #bbb;
$body-background-dark: #222;

$border-colour-dark: #999;

$focus-colour-dark: #fff;
$focus-background-dark: #990F18;

$table-head-dark: #333;

$link-colour-dark: #ffbb00;
$link-visited-dark: #c2805a;
$link-hover-dark: #222;

$inline-code-colour-dark: #d981d2;