<div class="article-info">
  <dl>
    <div>
      <dt>Published:</dt>
      <dd>
        <time datetime="{{post.date.datestamp}}">{{post.date.pretty}}</time>
      </dd>
    </div>
    <div>
      <dt>Read time:</dt>
      <dd>{{post.readTime}}</dd>
    </div>
  </dl>
</div>
