.nav-menu {
  padding-bottom: 1rem;
  border-bottom: 3px solid $border-colour;

  ul {
    padding: 0;
    margin-bottom: 0;
  }
  li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
  }
  a {
    font-weight: bold;

    &:visited {
      color: $link-colour;
    }

    &:hover {
      color: $link-hover;
    }
  }
}

@media (max-width: 640px) {
  .nav-menu {
    font-size: .8rem;
  }
}