<div class="container">
  <nav class="nav-menu" role="navigation">
    <uL id="nav-menu">
      <li><a href="/home/">Home</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/talks/">Talks</a></li>
    </uL>
  </nav>
</div>