@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

* {
  box-sizing: border-box;
  color: #333;
  font-family: "OpenSans", sans-serif;
  outline: none;
}

body {
  background: #efefef;
  font-size: 19px;
  line-height: 32px;
  margin: 0;
  padding: 20px;
  word-spacing: 0;
}

main {
  margin: auto;
  max-width: 630px;
  width: 100%;
}

header {
  padding-bottom: 1.4em;
}

nav {
  margin: auto;
  max-width: 630px;
  width: 100%;
}

footer ul {
  font-size: 14px;
  margin: auto;
  max-width: 630px;
  width: 100%;
}

a {
  border-bottom: 1px dashed;
  color: #2B8CC4;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

a:focus {
  background-color: #ffbf47;
  outline: 3px solid #ffbf47;
}

a:link:focus {
  color: #005798;
}

.skiplink {
  left: -9999em;
  position: absolute;
}

.skiplink:focus {
  left: 0;
  z-index: 1;
}

article {
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 2em;
  padding: 20px;
}

pre {
  font-size: 16px;
  overflow: scroll;
  width: 100%;
}

main#error pre {
  font-size: 12px;
}

.published-date {
  border-bottom: 1px solid #ccc;
  color: #aaa;
  font-size: 14px;
  padding-bottom: 10px;
}

.visually-hidden {
  height: 1px;
  left: -9999em;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

li {
  line-height: 1.8em;
}

.list-no-bullets {
  list-style: none;
  padding-left: 0;
}

blockquote {
  border-left: 5px solid #ccc;
  margin-left: 0;
  padding-left: 20px;
}
