@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

@font-face {
  font-family: 'OpenDyslexic';
  font-weight: 400;
  src: url('../fonts/OpenDyslexic-Regular.WOFF');
}

@font-face {
  font-family: 'OpenDyslexic';
  font-style: italic;
  src: url('../fonts/OpenDyslexic-Italic.WOFF');
}

@font-face {
  font-family: 'OpenDyslexic';
  font-weight: 700;
  src: url('../fonts/OpenDyslexic-Bold.WOFF');
}

@font-face {
  font-family: 'OpenDyslexic';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/OpenDyslexic-BoldItalic.WOFF');
}

@font-face {
  font-family: 'OpenDyslexicMono';
  src: url('../fonts/OpenDyslexicMono-Regular.WOFF');
}

* {
  box-sizing: border-box;
  outline: none;
}

code {
  line-height: 1.4em;
}

img {
  border: 1px solid #ccc;
  display: block;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 630px;
}

h1 {
  font-size: 2.250em;
}

h2 {
  font-size: 1.625em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.188em;
}

html {
  font-size: 100%;
}

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  font-size: 1.188em;
  margin: 0;
  padding: 20px;
  word-spacing: 0;
}

body p {
  line-height: 1.6em;
}

main {
  margin: auto;
  max-width: 630px;
  width: 100%;
}

.nav-wrapper {
  border-bottom: 1px solid #ccc;
  margin: auto;
  max-width: 630px;
  width: 100%;
}

nav {
  margin: auto;
  max-width: 630px;
  width: 100%;
}

nav a {
  font-size: 1.5em;
}

footer {
  border-top: 1px solid #ccc;
  margin: auto;
  max-width: 630px;
  width: 100%;
}

footer ul {
  font-size: .875em;
}

button {
  background: #ccc;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}

button:focus {
  outline: 3px solid #ffbf47;
}

a {
  border-bottom: 1px dashed;
  color: #005EA5;
  font-weight: bold;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

a:hover {
  color: #2B8CC4;
}

a:focus {
  background-color: #ffbf47;
  outline: 3px solid #ffbf47;
}

a:link:focus {
  color: #005798;
}

.skiplink {
  left: -9999em;
  position: absolute;
}

.skiplink:focus {
  left: 0;
  z-index: 1;
}

.read-full-article-wrapper {
  border-bottom: 1px solid #ccc;
  display: block;
  padding-bottom: 3em;
  padding-top: 1em;
}

main article:last-child {
  margin-bottom: 0;
}

main article:last-child .read-full-article-wrapper {
  border: 0;
}

article {
  margin-bottom: 4em;
  padding: 0 0 2em;
}

pre {
  font-size: 1em;
  overflow: scroll;
  width: 100%;
}

main#error pre {
  font-size: .750em;
}

.published-date {
  color: #6F777B;
  display: block;
  font-size: .3em;
  padding-bottom: .625em;
}

.visually-hidden {
  height: 1px;
  left: -9999em;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

li {
  line-height: 1.8em;
}

.list-no-bullets {
  list-style: none;
  padding-left: 0;
}

blockquote {
  border-left: 5px solid #ccc;
  margin-left: 0;
  padding-left: 1.25em;
}

.a11y {
  padding: 0.6em 0;
  margin: auto;
  max-width: 630px;
  width: 100%;
}

.a11y button {
  border: 1px solid #333;
  height: 2.1em;
  font-size: 1em
}

.a11y fieldset {
  margin: .5em;
}

fieldset {
  border: 0;
  display: inline-block;
  padding: 0;
}

.a11y legend {
  font-size: 0.6em;
  line-height: 2em;
}

.colour-change {
  background-color: #fff;
  color: #333;
  font-size: 2em;
}
.colour-change._black-white {
  background-color: #333;
  color: #fff;
}
.colour-change._blue-yellow {
  background-color: #134A61;
  color: #E6DE4E;
}
.colour-change._yellow-black {
  background-color: #D9CB84;
  color: #000;
}

.dyslexia {
  font-family: 'OpenDyslexic', sans-serif;
  line-height: 1.4;
}

.dyslexia code {
  font-family: 'OpenDyslexicMono', sans-serif;
  font-size: .8em;
}

/* Themes */
.theme-black-white {
  background: #333;
  color: #ddd;
}

.theme-black-white .published-date {
  color: #ccc;
}

.theme-black-white a {
  color: #55b6ff;
}

.theme-black-white a:hover {
  color: #A8D9FF;
}

.theme-blue-yellow {
  background: #073642;
  color: #b58900;
}

.theme-blue-yellow blockquote {
  border-color: #657b83;
}

.theme-blue-yellow .published-date {
  color: #b58900;
}

.theme-blue-yellow a {
  color: #2aa198;
}

.theme-blue-yellow a:hover {
  color: #41DCD0;
}

.theme-yellow-black {
  background: #D9CB84;
  color: #222;
}

.theme-yellow-black .nav-wrapper,
.theme-yellow-black .read-full-article-wrapper,
.theme-yellow-black footer,
.theme-yellow-black blockquote {
  border-color: #222;  
}

.theme-yellow-black .published-date {
  color: #444;
}
