/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/

.theme-yellow-black .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3f3f3f;
  color: #dcdcdc;
}

.theme-yellow-black .hljs-keyword,
.theme-yellow-black .hljs-selector-tag,
.theme-yellow-black .hljs-tag {
  color: #e3ceab;
}

.theme-yellow-black .hljs-template-tag {
  color: #dcdcdc;
}

.theme-yellow-black .hljs-number {
  color: #8cd0d3;
}

.theme-yellow-black .hljs-variable,
.theme-yellow-black .hljs-template-variable,
.theme-yellow-black .hljs-attribute {
  color: #efdcbc;
}

.theme-yellow-black .hljs-literal {
  color: #efefaf;
}

.theme-yellow-black .hljs-subst {
  color: #8f8f8f;
}

.theme-yellow-black .hljs-title,
.theme-yellow-black .hljs-name,
.theme-yellow-black .hljs-selector-id,
.theme-yellow-black .hljs-selector-class,
.theme-yellow-black .hljs-section,
.theme-yellow-black .hljs-type {
  color: #efef8f;
}

.theme-yellow-black .hljs-symbol,
.theme-yellow-black .hljs-bullet,
.theme-yellow-black .hljs-link {
  color: #dca3a3;
}

.theme-yellow-black .hljs-deletion,
.theme-yellow-black .hljs-string,
.theme-yellow-black .hljs-built_in,
.theme-yellow-black .hljs-builtin-name {
  color: #cc9393;
}

.theme-yellow-black .hljs-addition,
.theme-yellow-black .hljs-comment,
.theme-yellow-black .hljs-quote,
.theme-yellow-black .hljs-meta {
  color: #7f9f7f;
}


.theme-yellow-black .hljs-emphasis {
  font-style: italic;
}

.theme-yellow-black .hljs-strong {
  font-weight: bold;
}
