<header role="banner">
  <picture id="logo">
    <source 
      srcset="/images/logo-dark.svg" 
      media="(prefers-color-scheme: dark)"
    >
    <img src="/images/logo.svg" alt="Craig Abbott signature logo" width="100">
  </picture>
  {% include 'components/nav-menu/template.njk' %}
</header>
