<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/style.css">
    {%- if meta.canonicalURL -%}
      <link rel="canonical" href="{{meta.canonicalURL}}" />
    {%- else -%}
      <link rel="canonical" href="https://craigabbott.co.uk{{page.url}}" />
    {%- endif -%}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    
    <title>{{title}} - {{site.name}}</title>
    <meta name="title" content="{{page.title}}">
    <meta name="description" content="{{meta.description}}">

    {%- include 'meta/theme.njk' -%}
    {%- include 'meta/card-twitter.njk' -%}
    {%- include 'meta/card-og.njk' -%}

    <link rel="alternate" type="application/rss+xml" href="{{site.meta.rss}}" title="RSS Feed">
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Ctext%20y='.9em'%20font-size='90'%3E😸%3C/text%3E%3C/svg%3E">
    {%- block headEnd -%}{%- endblock -%}
  </head>
  <body>
    <div class="container">
      <a class="skip-link" href="#main">Skip to main content</a>
    </div>
    {%- include 'components/header.njk' -%}
    {%- block beforeMain -%}{%- endblock -%}
    <main id="main">
      <div class="box container">
        {%- block main -%}
          {{content|safe}}
        {%- endblock -%}
      </div>
    </main>
    {%- block afterMain -%}{%- endblock -%}
    {%- include 'components/footer.njk' -%}
    {%- block pageScripts -%}{%- endblock -%}
    <script defer src="/scripts/bundle.min.js"></script>
  </body>
</html>
