---
layout: layouts/base.njk
---

{%- from 'components/article-info.njk' import articleInfo -%}
{%- block main -%}
  <div class="post">

    {{content|safe}}

    <hr>
    
    <h2 class="visually-hidden">
      Post details
    </h2>
    {{- articleInfo({
      date: page.date,
      content: content,
      tags: tags
    }) -}}
  </div>
{%- endblock -%}

{%- block pageScripts -%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": "{{title}}",
    "description": "{{meta.description}}",
    "image": {
      "@type": "ImageObject",
      "url": "{{meta.image.href}}",
      "height": 800,
      "width": 1200
    },
    "author": {
      "@type": "Person",
      "name": "Craig Abbott"
    },
    "publisher": {
      "@type": "Organization",
      "name": "craigabbott.co.uk",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.craigabbott.co.uk/images/logo.webp"
      }
    },
    "datePublished": "{{date}}",
    "dateModified": "{{dateModified}}"
  }
</script>
{%- endblock -%}