body[data-theme="light"] {
  background-color: $body-background-light;
  color: $body-text-light;
  
  blockquote {
    border-color: $border-colour-light;
  }
  
  img {
    opacity: 100%;
    border-color: $border-colour-light;
  }

  pre:focus {
    border-color: $focus-colour-light;
    outline-color: $focus-background-light;
  }

  p > code {
    color: $inline-code-colour-light;
  }
}
