// Colours
$body-text-light: #222;
$body-secondary-light: #666;

$body-background-light: #f9f9f9;
$border-colour-light: #ccc;

$focus-colour-light: #222;
$focus-background-light: #fd0;

$table-head-light: #d7d7d7;

$link-colour-light: #be1622;
$link-visited-light: #803034;
$link-hover-light: #ddd;

$inline-code-colour-light: #912b88;