{% extends '../../common/layout.njk' %}

{% block content %}
  <main id="content" role="main" tabindex="-1">
    <div class="grid-row">
      <div class="column-two-thirds">

        {% for post in posts %}
          <article>
              <h1>
                <span class="visually-hidden">Published on</span>
                <span class="published-date">{{post.createdAt|formatDate}}</span>
                <a href="{{post.slug}}">{{post.title}}</a>
              </h1>
              
              {% markdown 'posts/' + post.slug + '/excerpt.md' %}

              <a class="read-more-link" href="/{{post.slug}}">Continue reading '{{post.title}}'</a>
          </article>
        {% endfor %}

      </div>
    </div>
  </main>
{% endblock %}