{% extends '../../common/layout.njk' %}

{% block content %}
  <main id="content" role="main" tabindex="-1" class="{{settings.pBorders if settings.pBorders}}">
    <div class="column-two-thirds">
      <h1 id="home-header" class="visually-hidden">All articles</h1>

      {% for post in posts %}
        <article>
          <h1>
            {{post.title}}
            <span class="visually-hidden">Published on</span>
            <span class="published-date">{{post.createdAt|formatDate}} <span class="vertical-line"></span> {{post.slug|readTime}}</span>
          </h1>
          
          {% markdown 'posts/' + post.slug + '/excerpt.md' %}

          <div class="read-full-article-wrapper">
            <a href="/{{post.slug}}">
              <span class="visually-hidden">{{post.title}}: </span>
              Read full article
            </a>
          </div>
        </article>
      {% endfor %}
      
      <nav class="pagination" role="navigation" aria-label="Pagination">
        <ul class="pagination__list">
          {% if page !== 1 %}
            <li class="pagination__item pagination__item--previous">
              <a href="?page={{page - 1}}" class="pagination__link" rel="prev">
                <span class="pagination__link-title">
                  <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  Newer posts
                </span>
                  <span class="visually-hidden">:</span>
                  <span class="pagination__link-label">page {{page - 1 }}</span>
              </a>
            </li>
          {% endif %}

          {% if nextPage %}
            <li class="pagination__item pagination__item--next">
              <a href="?page={{page + 1}}" class="pagination__link" rel="next">
                <span class="pagination__link-title">
                  Older posts
                  <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </span>
                  <span class="visually-hidden">:</span>
                  <span class="pagination__link-label">page {{page + 1}}</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </main>
{% endblock %}