{% extends '../../common/layout.njk' %}

{% block content %}

<main class="container" id="main" role="main">
  <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Home
      </h1>
      
      <p>
        I'm in the process of updating this website. You can <a href="/blog">read blog posts</a> 
        but you can't do much else at the moment.
      </p>

      <p>
        Thanks for your patience,<br />
        Craig
      </p>
  </div>
</main>

{% endblock %}