---
eleventyComputed:
  title: 'Beyond Accessibility Regulations'
  meta: 
    description: The shortcomings of accessibility regulations and standards.
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Beyond accessibility regulations</title>
    <meta name="description" content="Session on my ADHD and some coping strategies I have put in place.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      div.marpit>section {
        width: 1280px;
        height: 720px;

        box-sizing: border-box;
        overflow: hidden;
        position: relative;

        scroll-snap-align: center center;
      }

      div.marpit>section::after {
        bottom: 0;
        content: attr(data-marpit-pagination);
        padding: inherit;
        pointer-events: none;
        position: absolute;
        right: 0;
      }

      div.marpit>section:not([data-marpit-pagination])::after {
        display: none;
      }

      /* Normalization */
      div.marpit>section h1 {
        font-size: 2em;
        margin: 0.67em 0;
      }

      div.marpit>section video::-webkit-media-controls {
        will-change: transform;
      }

      @page {
        size: 1280px 720px;
        margin: 0;
      }

      @media print {

        html,
        body {
          background-color: #fff;
          margin: 0;
          page-break-inside: avoid;
          break-inside: avoid-page;
        }

        div.marpit>section {
          page-break-before: always;
          break-before: page;
        }

        div.marpit>section,
        div.marpit>section * {
          -webkit-print-color-adjust: exact !important;
          animation-delay: 0s !important;
          animation-duration: 0s !important;
          color-adjust: exact !important;
          transition: none !important;
        }

        div.marpit>svg[data-marpit-svg] {
          display: block;
          height: 100vh;
          width: 100vw;
        }
      }

      /* @theme black-yellow-2 */
      /*!
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */
      div.marpit>section .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        margin: calc(var(--marpit-root-font-size, 1rem) * 1) 0;
      }

      div.marpit>section .col {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        margin-right: calc(var(--marpit-root-font-size, 1rem) * 1);
      }

      div.marpit>section .col> :first-child {
        margin-top: 0;
      }

      div.marpit>section .pagination {
        color: #505a5f;
        font-size: 24px;
        position: absolute;
        padding: 0;
        right: 50px;
        top: 0;
      }

      div.marpit>section section.pagination {
        --marpit-root-font-size: 24px;
      }

      div.marpit>section {
        font-family: Arial, Helvetica, sans-serif;
      }

      div.marpit>section pre code,
      div.marpit>section code {
        font-family: monospace, monospace;
      }

      div.marpit>section h1,
      div.marpit>section h2,
      div.marpit>section h3,
      div.marpit>section h4,
      div.marpit>section h5,
      div.marpit>section h6,
      div.marpit>section p {
        max-width: 67%;
      }

      div.marpit>section {
        line-height: 1.2;
        font-size: 29px;
        color: #F9B900;
        background: #1e1e1e;
        align-items: stretch;
        display: flex;
        flex-flow: column nowrap;
        height: 720px;
        justify-content: center;
        padding: 78.5px;
        width: 1280px;
        background-size: cover;
      }

      div.marpit>section {
        --marpit-root-font-size: 29px;
      }

      div.marpit>section:after {
        color: #F9B900;
        font-size: 24px;
        position: absolute;
        padding: 0;
        right: 30px;
        bottom: 21px;
      }

      div.marpit>section:after {
        --marpit-root-font-size: 24px;
      }

      div.marpit>section>*:last-child,
      div.marpit>section section[data-footer]> :nth-last-child(2) {
        margin-bottom: 0;
      }

      div.marpit>section>*:first-child,
      div.marpit>section header:first-child+* {
        margin-top: 0;
      }

      div.marpit>section pre {
        margin: 0;
        overflow: visible;
        margin-bottom: calc(var(--marpit-root-font-size, 1rem) * 1);
      }

      div.marpit>section pre code {
        display: block;
        overflow-y: visible;
        overflow-x: auto;
        padding: calc(var(--marpit-root-font-size, 1rem) * .75);
        border: 1px dashed;
        font-size: calc(var(--marpit-root-font-size, 1rem) * .9);
      }

      div.marpit>section pre code:focus {
        outline: 4px solid white;
        outline-offset: 4px;
        box-shadow: 0px 0px 0px 5px #cc0000;
      }

      div.marpit>section code {
        font-size: calc(var(--marpit-root-font-size, 1rem) * 1);
        padding: 0 calc(var(--marpit-root-font-size, 1rem) * .2);
        border-radius: 5px;
      }

      div.marpit>section h1 {
        border-bottom: none;
        font-size: 1.75em;
      }

      div.marpit>section h2,
      div.marpit>section h3,
      div.marpit>section h4,
      div.marpit>section h5,
      div.marpit>section h6 {
        border-bottom: none;
        font-size: 1.6em;
        margin-bottom: calc(var(--marpit-root-font-size, 1rem) * 1);
      }

      div.marpit>section a,
      div.marpit>section a:visited {
        color: inherit;
      }

      div.marpit>section a:focus {
        outline: none;
        padding: 3px;
        text-decoration: none;
        background-color: #cc0000 !important;
        color: white !important;
        border-bottom: 5px solid white !important;
      }

      div.marpit>section hr {
        height: 0;
        padding-top: 0.25em;
      }

      div.marpit>section header {
        top: 21px;
      }

      div.marpit>section footer {
        bottom: 21px;
      }

      div.marpit>section header,
      div.marpit>section footer {
        font-size: calc(var(--marpit-root-font-size, 1rem) * .75);
        margin: 0;
        position: absolute;
        left: 0;
        padding-left: 30px;
        width: 100%;
        min-height: 30px;
        color: white;
      }

      div.marpit>section kbd {
        color: #F9B900;
        font-size: calc(var(--marpit-root-font-size, 1rem) * .9);
        border: 1px solid grey;
      }

      div.marpit>section img,
      div.marpit>section figure {
        margin-top: 0;
        width: 100%;
        object-fit: contain;
      }

      div.marpit>section p {
        margin-top: 0;
      }

      div.marpit>section input {
        padding: calc(var(--marpit-root-font-size, 1rem) * .25);
        font-size: calc(var(--marpit-root-font-size, 1rem) * 1);
        border: 2px solid black;
        display: block;
      }

      div.marpit>section figure {
        margin: 0;
        border: 0;
      }

      div.marpit>section ul,
      div.marpit>section ol {
        margin-top: 0;
        margin-bottom: calc(var(--marpit-root-font-size, 1rem) * 1.5);
      }

      div.marpit>section ul li,
      div.marpit>section ol li {
        padding-left: calc(var(--marpit-root-font-size, 1rem) * 1);
        line-height: 1.5;
      }

      div.marpit>section ul.list--no-bullet {
        list-style: none;
        padding-left: 0;
      }

      div.marpit>section blockquote {
        margin: 0;
        padding-left: calc(var(--marpit-root-font-size, 1rem) * 1);
        border-left: 10px solid #F9B900;
      }

      div.marpit>section blockquote p {
        display: flex;
        align-items: center;
        height: 100%;
        font-style: italic;
      }

      div.marpit>section dd {
        margin-left: 0;
        padding-left: 20px;
        border-left: 8px solid #F9B900;
      }

      div.marpit>section em {
        font-style: normal;
        font-weight: 700;
      }

      div.marpit>section button {
        font-size: 19px;
      }

      div.marpit>section button:focus {
        outline: 4px solid white;
        outline-offset: 4px;
        box-shadow: 0px 0px 0px 5px #cc0000;
      }

      div.marpit>section video {
        margin-top: 30px;
      }

      div.marpit>section p {
        color: white;
      }

      div.marpit>section ul,
      div.marpit>section ol {
        color: white;
      }

      div.marpit>section .list {
        color: white;
        padding-left: 0;
        list-style: none;
      }

      div.marpit>section .list--bullet {
        list-style: disc;
      }

      div.marpit>section .list--number {
        list-style: decimal;
      }

      div.marpit>section pre code.hljs {
        display: block;
        overflow-x: auto;
        padding: 1em;
      }

      div.marpit>section code.hljs {
        padding: 3px 5px;
      }

      /*!
  Theme: a11y-dark
  Author: @ericwbailey
  Maintainer: @ericwbailey

  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
*/
      div.marpit>section .hljs {
        background: #2b2b2b;
        color: #f8f8f2;
      }

      div.marpit>section .hljs-comment,
      div.marpit>section .hljs-quote {
        color: #d4d0ab;
      }

      div.marpit>section .hljs-deletion,
      div.marpit>section .hljs-name,
      div.marpit>section .hljs-regexp,
      div.marpit>section .hljs-selector-class,
      div.marpit>section .hljs-selector-id,
      div.marpit>section .hljs-tag,
      div.marpit>section .hljs-template-variable,
      div.marpit>section .hljs-variable {
        color: #ffa07a;
      }

      div.marpit>section .hljs-built_in,
      div.marpit>section .hljs-link,
      div.marpit>section .hljs-literal,
      div.marpit>section .hljs-meta,
      div.marpit>section .hljs-number,
      div.marpit>section .hljs-params,
      div.marpit>section .hljs-type {
        color: #f5ab35;
      }

      div.marpit>section .hljs-attribute {
        color: gold;
      }

      div.marpit>section .hljs-addition,
      div.marpit>section .hljs-bullet,
      div.marpit>section .hljs-string,
      div.marpit>section .hljs-symbol {
        color: #abe338;
      }

      div.marpit>section .hljs-section,
      div.marpit>section .hljs-title {
        color: #00e0e0;
      }

      div.marpit>section .hljs-keyword,
      div.marpit>section .hljs-selector-tag {
        color: #dcc6e0;
      }

      div.marpit>section .hljs-emphasis {
        font-style: italic;
      }

      div.marpit>section .hljs-strong {
        font-weight: 700;
      }

      @media screen and (-ms-high-contrast: active) {

        div.marpit>section .hljs-addition,
        div.marpit>section .hljs-attribute,
        div.marpit>section .hljs-built_in,
        div.marpit>section .hljs-bullet,
        div.marpit>section .hljs-comment,
        div.marpit>section .hljs-link,
        div.marpit>section .hljs-literal,
        div.marpit>section .hljs-meta,
        div.marpit>section .hljs-number,
        div.marpit>section .hljs-params,
        div.marpit>section .hljs-quote,
        div.marpit>section .hljs-string,
        div.marpit>section .hljs-symbol,
        div.marpit>section .hljs-type {
          color: highlight;
        }

        div.marpit>section .hljs-keyword,
        div.marpit>section .hljs-selector-tag {
          font-weight: 700;
        }
      }

      div.marpit>section.light {
        background-color: white;
        color: #1e1e1e;
      }

      div.marpit>section .visually-hidden {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        clip: rect(0 0 0 0) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        border: 0 !important;
        white-space: nowrap !important;
      }

      div.marpit>section .size--1-5 {
        font-size: calc(var(--marpit-root-font-size, 1rem) * .75) !important;
      }

      div.marpit>section section.size--1-5 {
        --marpit-root-font-size: calc(var(--marpit-root-font-size, 1rem) * .75) !important;
      }

      div.marpit>section .size-1 {
        font-size: calc(var(--marpit-root-font-size, 1rem) * 1) !important;
      }

      div.marpit>section section.size-1 {
        --marpit-root-font-size: calc(var(--marpit-root-font-size, 1rem) * 1) !important;
      }

      div.marpit>section .size-1-5 {
        font-size: calc(var(--marpit-root-font-size, 1rem) * 1.5) !important;
      }

      div.marpit>section section.size-1-5 {
        --marpit-root-font-size: calc(var(--marpit-root-font-size, 1rem) * 1.5) !important;
      }

      div.marpit>section .size-2 {
        font-size: calc(var(--marpit-root-font-size, 1rem) * 2) !important;
      }

      div.marpit>section section.size-2 {
        --marpit-root-font-size: calc(var(--marpit-root-font-size, 1rem) * 2) !important;
      }

      div.marpit>section .size-2-5 {
        font-size: calc(var(--marpit-root-font-size, 1rem) * 2.5) !important;
      }

      div.marpit>section section.size-2-5 {
        --marpit-root-font-size: calc(var(--marpit-root-font-size, 1rem) * 2.5) !important;
      }

      div.marpit>section .size-3 {
        font-size: calc(var(--marpit-root-font-size, 1rem) * 3) !important;
      }

      div.marpit>section section.size-3 {
        --marpit-root-font-size: calc(var(--marpit-root-font-size, 1rem) * 3) !important;
      }

      div.marpit>section .size-3-5 {
        font-size: calc(var(--marpit-root-font-size, 1rem) * 3.5) !important;
      }

      div.marpit>section section.size-3-5 {
        --marpit-root-font-size: calc(var(--marpit-root-font-size, 1rem) * 3.5) !important;
      }

      div.marpit>section .size-4 {
        font-size: calc(var(--marpit-root-font-size, 1rem) * 4) !important;
      }

      div.marpit>section section.size-4 {
        --marpit-root-font-size: calc(var(--marpit-root-font-size, 1rem) * 4) !important;
      }

      div.marpit>section .bold {
        font-weight: 700;
      }

      div.marpit>section .width-100>* {
        max-width: 100%;
      }

      div.marpit>section .width-80>* {
        max-width: 80%;
      }

      div.marpit>section .width-66>* {
        max-width: 67%;
      }

      div.marpit>section .m-t--0 {
        margin-top: 0;
      }

      div.marpit>section .m-t--1 {
        margin-top: -50px;
      }

      div.marpit>section .m-t--2 {
        margin-top: -100px;
      }

      div.marpit>section .m-t--3 {
        margin-top: -150px;
      }

      div.marpit>section .m-t--4 {
        margin-top: -200px;
      }

      div.marpit>section .m-t-1 {
        margin-top: 50px;
      }

      div.marpit>section .m-t-2 {
        margin-top: 100px;
      }

      div.marpit>section .m-t-3 {
        margin-top: 150px;
      }

      div.marpit>section .m-t-4 {
        margin-top: 200px;
      }

      div.marpit>section .bg-overlay {
        padding: .5em;
        background-color: rgba(0, 0, 0, 0.5);
      }

      body {
        background: #333;
        margin: 0;
        padding: 0;
      }

      div.marpit>section {
        margin: 1rem;
      }
    </style>
  </head>

  <body>
    <main>
      <div class="marpit">
        <section id="1" data-marpit-pagination-total="84" aria-label="Slide 1: Beyond Accessibility Regulations">
          <div class="size-1-5 width-100">
            <h1 aria-describedby="page-number-1" id="slide-1">Beyond Accessibility Regulations</h1>
            <p>Craig Abbott<br>
              <a href="https://twitter.com/abbott567">@abbott567</a>
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 1</p>
              <p id="page-number-1" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>1</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="2" data-background-image="url(&quot;images/intro.webp&quot;)" data-marpit-pagination-total="84" style="background-image: url(&quot;images/intro.webp&quot;);" aria-label="Slide 2: Hi, my name is Craig">
          <h2 class="visually-hidden" aria-describedby="page-number-2" id="slide-2">Hi, my name is Craig</h2>
          <p class="visually-hidden">
            I'm a Senior Product Designer at Elastic, and former Head of Accessibility for the Department for Work and Pensions in UK Government.
          </p>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 2</p>
              <p id="page-number-2" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>2</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="3" data-marpit-pagination-total="84" aria-label="Slide 3: I’ve always gravitated towards accessibility">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-3" id="slide-3">I’ve always gravitated towards accessibility</h3>
            <div class="visually-hidden">
              <p>I’ve always felt like I didn’t fit in.</p>
              <p>I wouldn’t say I love Accessibility. I wish I didn’t have to talk about it. But we live in a world where it is not properly engrained in the design of most products yet.</p>
            </div>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 3</p>
              <p id="page-number-3" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>3</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="4" data-marpit-pagination-total="84" aria-label="Slide 4: 
  ADHD + 
  Autism = 
  Me
">
          <h3 class="size-2" style="font-family:monospace;color:white;" aria-describedby="page-number-4" id="slide-4">
            <span style="color:#00A2FF">ADHD</span> +
            <span style="color:#EF5FA7">Autism</span> =
            <span style="color:#18E7CF">Me</span>
          </h3>
          <div class="visually-hidden">
            <p>I have combined presentation ADHD and Autism</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 4</p>
              <p id="page-number-4" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>4</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="5" data-marpit-pagination-total="84" aria-label="Slide 5: Terminology">
          <h2 class="visually-hidden" aria-describedby="page-number-5" id="slide-5">Terminology</h2>
          <ul class="bold list" style="font-size:4rem;">
            <li style="color:#F9B900">
              Neurotypical?
            </li>
            <li style="color:#FF9301">
              Neurodivergent?
            </li>
            <li style="color:#D75F02">
              Neurodiversity?
            </li>
          </ul>
          <div class="visually-hidden">
            <p>Neuro means to do with the brain.</p>
            <p>So neurotypical pretty much means typical brain.</p>
            <p>Divergent means different. So, different brain.</p>
            <p>Neurodiversity is when you have a collection of people who all think differently.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 5</p>
              <p id="page-number-5" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>5</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="6" data-marpit-pagination-total="84" aria-label="Slide 6: Being non-typical is actually pretty typical">
          <div class="size-1-5">
            <h2 aria-describedby="page-number-6" id="slide-6">Being non-typical is actually pretty typical</h2>
          </div>
          <div class="visually-hidden">
            <p>Around 15% of the population are neurodivergent.</p>
            <p>As time goes on, more understanding, more diagnosis and more support is becoming available.</p>
            <p>If neurodivergents made up more than 50% of the population, we’d probably be the ones considered neurotypical.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 6</p>
              <p id="page-number-6" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>6</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="7" data-marpit-pagination-total="84" aria-label="Slide 7: If you’re comfortable">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-7" id="slide-7">If you’re comfortable</h3>
            <p>Raise your hand if you identify as being Neurodivergent.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 7</p>
              <p id="page-number-7" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>7</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="8" data-marpit-pagination-total="84" aria-label="Slide 8: In the past you probably wouldn’t know you were neurodivergent…">
          <div class="width-100 size-1-5">
            <h2 aria-describedby="page-number-8" id="slide-8">In the past you probably wouldn’t know you were neurodivergent…</h2>
            <p>unless you were diagnosed with a ‘disorder’.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 8</p>
              <p id="page-number-8" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>8</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="9" data-marpit-pagination-total="84" aria-label="Slide 9: Attitudes are changing…">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-9" id="slide-9">Attitudes are changing…</h3>
            <p>Slowly.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 9</p>
              <p id="page-number-9" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>9</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="10" data-marpit-pagination-total="84" aria-label="Slide 10: A quote about Neurodivergence&quot;">
          <div class="size-1-5">
            <h3 class="visually-hidden" aria-describedby="page-number-10" id="slide-10">A quote about Neurodivergence"</h3>
            <blockquote>
              <p>“many people with neurological conditions such as autism spectrum disorder, dyspraxia, and dyslexia have extraordinary skills, including in pattern recognition, memory, and mathematics”</p>
            </blockquote>
          </div>
          <footer><a href="https://flipboard.com/@HBR/neurodiversity-is-a-competitive-advantage/a-gSKmdE_0ReyPdit5EfoJiw:a:8395351-43a6ed65fa%2Fhbr.org">Harvard Business Review</a>
            <div class="pagination">
              <p class="visually-hidden">End of slide 10</p>
              <p id="page-number-10" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>10</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="11" data-marpit-pagination-total="84" aria-label="Slide 11: Pay close attention to the language">
          <div class="size-1-5">
            <h3 class="visually-hidden" aria-describedby="page-number-11" id="slide-11">Pay close attention to the language</h3>
            <blockquote style="max-width:66%;font-style:italic;color:white;">
              “many people with neurological <strong style="color:#EF5FA7">conditions</strong> such as autism spectrum <strong style="color:#EF5FA7">disorder</strong>, dyspraxia, and dyslexia have <strong style="color:#18E7CF">extraordinary skills</strong>, including in pattern recognition, memory, and mathematics”
            </blockquote>
            <p class="visually-hidden">
              The stigma still bleeds through in the language.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 11</p>
              <p id="page-number-11" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>11</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="12" data-marpit-pagination-total="84" aria-label="Slide 12: Neurodivergence is to be celebrated,">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-12" id="slide-12">Neurodivergence is to be celebrated,</h3>
            <p>not something to be cured.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 12</p>
              <p id="page-number-12" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>12</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="13" data-marpit-pagination-total="84" aria-label="Slide 13: Accessibility Regulations">
          <div class="size-2">
            <h2 aria-describedby="page-number-13" id="slide-13">Accessibility Regulations</h2>
            <p class="visually-hidden">
              This slide does not contain any additional content.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 13</p>
              <p id="page-number-13" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>13</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="14" data-marpit-pagination-total="84" aria-label="Slide 14: United States of America">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-14" id="slide-14">United States of America</h3>
            <ul>
              <li><a href="https://www.ada.gov/">The Americans with Disabilities Act</a></li>
              <li><a href="https://www.eeoc.gov/statutes/rehabilitation-act-1973">The Rehabilitation Act</a></li>
              <li><a href="https://www.section508.gov/">Section 508</a></li>
            </ul>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 14</p>
              <p id="page-number-14" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>14</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="15" data-background-image="url(&quot;images/crip-camp.webp&quot;)" data-marpit-pagination-total="84" style="background-image: url(&quot;images/crip-camp.webp&quot;);" aria-label="Slide 15: Crip Camp">
          <div class="visually-hidden">
            <h4 aria-describedby="page-number-15" id="slide-15">Crip Camp</h4>
            <p>
              Crip Camp is a really good documentary about how a lot of the American accessibility regulations came to be.
            </p>
            <p>
              It's produced by Michelle and Barack Obama.
            </p>
            <p>
              The background of this slide shows the Netflix imagary for Crip Camp. It shows two young men. One is in a wheelchair, the other is standing behind him with one hand on the chair and his other hand on the neck of a guitar which is is holding over his shoulder.
            </p>
          </div>
          <footer><a href="https://www.netflix.com/gb/title/81001496">Crip Camp on Netflix</a>
            <div class="pagination">
              <p class="visually-hidden">End of slide 15</p>
              <p id="page-number-15" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>15</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="16" data-marpit-pagination-total="84" aria-label="Slide 16: United Kingdom">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-16" id="slide-16">United Kingdom</h3>
            <ul>
              <li><a href="https://www.legislation.gov.uk/ukpga/2010/15/contents">The Equality Act</a></li>
              <li><a href="https://www.gov.uk/government/publications/public-sector-equality-duty">The Public Sector Equality Duty</a></li>
              <li><a href="https://www.legislation.gov.uk/uksi/2018/952/made">The Public Sector Bodies Accessibility Regulations</a></li>
            </ul>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 16</p>
              <p id="page-number-16" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>16</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="17" data-marpit-pagination-total="84" aria-label="Slide 17: Europe">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-17" id="slide-17">Europe</h3>
            <ul>
              <li>EN 301 549</li>
            </ul>
          </div>
          <footer><a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/03.02.01_60/en_301549v030201p.pdf">European standard for accessibility requirements for ICT products and services</a>
            <div class="pagination">
              <p class="visually-hidden">End of slide 17</p>
              <p id="page-number-17" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>17</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="18" data-marpit-pagination-total="84" aria-label="Slide 18: 
    Accessible !== 
    Inclusive
  Accessibile does not equal inclusive">
          <div aria-hidden="true" class="width-100">
            <h3 class="size-2" style="font-family:monospace;color:white;" aria-describedby="page-number-18" id="slide-18">
              <span style="color:#00A2FF">Accessible</span> !==
              <span style="color:#EF5FA7">Inclusive</span>
            </h3>
            <p class="size-1-5" style="font-family:monospace;color:white;">
              <span style="color:#18E7CF">// Important</span>
            </p>
          </div>
          <div class="visually-hidden">
            <h3 aria-describedby="page-number-18" id="slide-18">Accessibile does not equal inclusive</h3>
            <p>This is important!</p>
            <p>You can have a fully accessible product and still fail to meet the Equality Act on a poorly worded question about gender.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 18</p>
              <p id="page-number-18" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>18</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="19" data-background-image="url(&quot;images/design-justice.webp&quot;)" data-marpit-pagination-total="84" style="background-image: url(&quot;images/design-justice.webp&quot;);" aria-label="Slide 19: Design Justice">
          <div class="visually-hidden">
            <h4 aria-describedby="page-number-19" id="slide-19">Design Justice</h4>
            <p>
              I'm not going to get into all of the protected characteristics in this talk, but I really recommend reading Design Justice by Sasha Costanza-Chock. is a great book to learn more about designing for everybody, not just people who rely on accessibility.
            </p>
          </div>
          <footer>
            <a style="color:black" href="https://designjustice.mitpress.mit.edu/">
              Design Justice
            </a>

            <div class="pagination">
              <p class="visually-hidden">End of slide 19</p>
              <p id="page-number-19" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>19</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="20" data-marpit-pagination-total="84" aria-label="Slide 20: The regulations are complex.">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-20" id="slide-20">The regulations are complex.</h3>
            <p>But their intentions are simple.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 20</p>
              <p id="page-number-20" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>20</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="21" data-marpit-pagination-total="84" aria-label="Slide 21: My summary of the regulations">
          <div class="size-1-5">
            <h3 class="visually-hidden" aria-describedby="page-number-21" id="slide-21">My summary of the regulations</h3>
            <blockquote>
              <p>“We must not deliberately (or accidentally) exclude anybody. We must actively work to be as inclusive as possible, and we must provide an equal level of service to everybody.”</p>
            </blockquote>
          </div>
          <footer>Me, pretty much every day, for 3 years.
            <div class="pagination">
              <p class="visually-hidden">End of slide 21</p>
              <p id="page-number-21" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>21</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="22" data-marpit-pagination-total="84" aria-label="Slide 22: Accessibility Standards">
          <div class="size-2">
            <h2 aria-describedby="page-number-22" id="slide-22">Accessibility Standards</h2>
            <p class="visually-hidden">
              This slide does not contain any additional content.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 22</p>
              <p id="page-number-22" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>22</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="23" data-marpit-pagination-total="84" aria-label="Slide 23: WCAG">
          <div class="width-100 size-1-5">
            <h3 aria-describedby="page-number-23" id="slide-23">WCAG</h3>
            <p><a href="https://www.w3.org/WAI/WCAG21/Understanding/">The Web Content Accessibility Guidelines</a></p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 23</p>
              <p id="page-number-23" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>23</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="24" data-marpit-pagination-total="84" aria-label="Slide 24: WCAG aims to make digital products:">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-24" id="slide-24">WCAG aims to make digital products:</h3>
            <ul>
              <li>Perceivable</li>
              <li>Operable</li>
              <li>Understandable</li>
              <li>Robust</li>
            </ul>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 24</p>
              <p id="page-number-24" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>24</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="25" data-marpit-pagination-total="84" aria-label="Slide 25: WCAG has 3 levels:">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-25" id="slide-25">WCAG has 3 levels:</h3>
            <ul>
              <li>A</li>
              <li>AA</li>
              <li>AAA</li>
            </ul>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 25</p>
              <p id="page-number-25" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>25</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="26" data-marpit-pagination-total="84" aria-label="Slide 26: 
  WCAG has 2 levels, if we're honest
">
          <div class="size-1-5 width-100">
            <h2 aria-describedby="page-number-26" id="slide-26">
              WCAG has 2 levels, <span style="font-size:.7em;color:white">if we're honest</span>
            </h2>
            <ul>
              <li>A</li>
              <li>AA</li>
            </ul>
          </div>
          <footer>As none of the AAA criteria is mandated, everybody inevitably just ignores it.
            <div class="pagination">
              <p class="visually-hidden">End of slide 26</p>
              <p id="page-number-26" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>26</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="27" data-marpit-pagination-total="84" aria-label="Slide 27: A lot of cognitive support is lost in AAA criteria:">
          <div class="size-1">
            <h3 aria-describedby="page-number-27" id="slide-27">A lot of cognitive support is lost in AAA criteria:</h3>
            <p>For example:</p>
            <ul>
              <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/unusual-words">3.1.3 Unusual words</a></li>
              <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/abbreviations">3.1.4 Abbreviations</a></li>
              <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/reading-level">3.1.5 Reading level</a></li>
              <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/pronunciation">3.1.6 Pronunciation</a></li>
            </ul>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 27</p>
              <p id="page-number-27" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>27</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="28" data-marpit-pagination-total="84" aria-label="Slide 28: The regulations say we must do accessibility.">
          <div class="size-1-5 width-80">
            <h3 aria-describedby="page-number-28" id="slide-28">The regulations say we must do accessibility.</h3>
            <p>But they do not really explain why.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 28</p>
              <p id="page-number-28" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>28</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="29" data-marpit-pagination-total="84" aria-label="Slide 29: A common misconception is that accessibility only affects a small number of people">
          <div class="size-1-5 width-80">
            <h3 aria-describedby="page-number-29" id="slide-29">A common misconception is that accessibility only affects a small number of people</h3>
          </div>
          <p class="visually-hidden">
            This slide does not contain any additional content.
          </p>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 29</p>
              <p id="page-number-29" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>29</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="30" data-marpit-pagination-total="84" aria-label="Slide 30: Statistics">
          <div class="size-2">
            <h2 aria-describedby="page-number-30" id="slide-30">Statistics</h2>
          </div>
          <p class="visually-hidden">
            This slide does not contain any additional content.
          </p>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 30</p>
              <p id="page-number-30" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>30</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="31" data-marpit-pagination-total="84" aria-label="Slide 31: 1 in 5 people in the UK have a disability…">
          <div class="size-1-5 width-100">
            <h3 aria-describedby="page-number-31" id="slide-31">1 in 5 people in the UK have a disability…</h3>
            <p>the same number as those with brown eyes.</p>
          </div>
          <footer><a href="https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/healthandwellbeing/bulletins/disabilityenglandandwales/census2021">Office for National Statistics data</a>
            <div class="pagination">
              <p class="visually-hidden">End of slide 31</p>
              <p id="page-number-31" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>31</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="32" data-marpit-pagination-total="84" aria-label="Slide 32: The prevalence of disability rises with age:">
          <div class="size-1-5 width-80">
            <h3 aria-describedby="page-number-32" id="slide-32">The prevalence of disability rises with age:</h3>
            <ul>
              <li>8% of children</li>
              <li>19% of working-age adults</li>
              <li>46% of adults over state pension age</li>
            </ul>
          </div>
          <footer><a href="https://www.gov.uk/government/statistics/family-resources-survey-financial-year-2021-to-2022/family-resources-survey-financial-year-2021-to-2022">Family Resources Survey: financial year 2021 to 2022</a>
            <div class="pagination">
              <p class="visually-hidden">End of slide 32</p>
              <p id="page-number-32" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>32</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="33" data-marpit-pagination-total="84" aria-label="Slide 33: The official statistics paint a bleak picture,">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-33" id="slide-33">The official statistics paint a bleak picture,</h3>
            <p>but it’s actually far worse.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 33</p>
              <p id="page-number-33" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>33</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="34" data-marpit-pagination-total="84" aria-label="Slide 34: Definitions and thresholds">
          <div class="size-1-5 width-100">
            <h3 aria-describedby="page-number-34" id="slide-34">Definitions and thresholds</h3>
            <p>Missing data.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 34</p>
              <p id="page-number-34" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>34</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="35" data-marpit-pagination-total="84" aria-label="Slide 35: Mental health issues">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-35" id="slide-35">Mental health issues</h3>
            <p>Missing data.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 35</p>
              <p id="page-number-35" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>35</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="36" data-marpit-pagination-total="84" aria-label="Slide 36: Non-visible disabilities">
          <div class="size-1-5 width-100">
            <h3 aria-describedby="page-number-36" id="slide-36">Non-visible disabilities</h3>
            <p>Missing data.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 36</p>
              <p id="page-number-36" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>36</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="37" data-marpit-pagination-total="84" aria-label="Slide 37: Hidden disabilities">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-37" id="slide-37">Hidden disabilities</h3>
            <p>Missing data.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 37</p>
              <p id="page-number-37" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>37</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="38" data-marpit-pagination-total="84" aria-label="Slide 38: 1 in 3 people">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-38" id="slide-38">1 in 3 people</h3>
            <p>Show unconscious bias towards people with disabilities.</p>
          </div>
          <footer><a href="https://abilitymagazine.com/unconscious-bias-pwds-workplace/">Unconscious Bias Towards People with Disabilities in the Workplace</a>
            <div class="pagination">
              <p class="visually-hidden">End of slide 38</p>
              <p id="page-number-38" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>38</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="39" data-background-image="url(&quot;images/mind-the-gap.webp&quot;)" data-marpit-pagination-total="84" style="background-image: url(&quot;images/mind-the-gap.webp&quot;);" aria-label="Slide 39: The disability pay gap">
          <h3 class="visually-hidden" aria-describedby="page-number-39" id="slide-39">The disability pay gap</h3>
          <div class="size-1-5 m-t--3">
            <blockquote>
              <p>People with Autism earn around 33% less than their colleagues doing the same job.</p>
            </blockquote>
          </div>
          <footer class="bg-overlay">
            <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/disability/articles/disabilitypaygapsintheuk/2021">
              Disability pay gaps in the UK: 2021
            </a>

            <div class="pagination">
              <p class="visually-hidden">End of slide 39</p>
              <p id="page-number-39" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>39</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="40" data-marpit-pagination-total="84" aria-label="Slide 40: The need for accessibility is massively underrepresented in the ‘official statistics’.">
          <div class="size-1-5 width-100">
            <h3 aria-describedby="page-number-40" id="slide-40">The need for accessibility is massively underrepresented in the ‘official statistics’.</h3>
            <p>1 in 5 people is just the tip of the iceberg.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 40</p>
              <p id="page-number-40" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>40</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="41" data-marpit-pagination-total="84" aria-label="Slide 41: 
    Impairment !== 
    Disability
  Impairment does not equal disability">
          <div aria-hidden="true" class="width-100">
            <h2 class="size-2" style="font-family:monospace;color:white;" aria-describedby="page-number-41" id="slide-41">
              <span style="color:#00A2FF">Impairment</span> !==
              <span style="color:#EF5FA7">Disability</span>
            </h2>
            <p class="size-1-5" style="font-family:monospace;color:white;">
              <span style="color:#18E7CF">// Important</span>
            </p>
          </div>
          <div class="visually-hidden">
            <h2 aria-describedby="page-number-41" id="slide-41">Impairment does not equal disability</h2>
            <p>This is important!</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 41</p>
              <p id="page-number-41" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>41</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="42" data-marpit-pagination-total="84" aria-label="Slide 42: Impairment">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-42" id="slide-42">Impairment</h3>
            <p>An impairment is medical. It’s the condition or symptoms that a person experiences.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 42</p>
              <p id="page-number-42" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>42</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="43" data-marpit-pagination-total="84" aria-label="Slide 43: Disability">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-43" id="slide-43">Disability</h3>
            <p>When a person finds it difficult to perform every-day tasks to a level that is considered comfortable for most people.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 43</p>
              <p id="page-number-43" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>43</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="44" data-marpit-pagination-total="84" aria-label="Slide 44: An impairment does not always mean a person considers themselves to have a disability">
          <div class="size-1-5 width-80">
            <h3 aria-describedby="page-number-44" id="slide-44">An impairment does not always mean a person considers themselves to have a disability</h3>
            <p class="visually-hidden">
              This is important!
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 44</p>
              <p id="page-number-44" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>44</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="45" data-marpit-pagination-total="84" aria-label="Slide 45: Example">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-45" id="slide-45">Example</h3>
            <p>Imagine you’re colour blind and it’s your job to analyse pandemic statistics.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 45</p>
              <p id="page-number-45" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>45</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="46" data-background-image="url(&quot;images/COBR-rgb.webp&quot;)" data-marpit-pagination-total="84" style="background-image: url(&quot;images/COBR-rgb.webp&quot;);" aria-label="Slide 46: Pandemic statistics">
          <div class="visually-hidden">
            <h4 aria-describedby="page-number-46" id="slide-46">Pandemic statistics</h4>
            <p>This slide shows a heat map for hospitals with over 100 COVID-19 positive inpatients on 30 October.</p>
            <p>It is a grid, which shows hospitals down the y axis, and days across the top axis.</p>
            <p>Each square in the grid is coloured red, amber or green to show the risk at that hospital on that day.</p>
            <p>There is a key, which states red means above previous peak, amber means over half the previous peak and green means below half the previous peak.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 46</p>
              <p id="page-number-46" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>46</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="47" data-background-image="url(&quot;images/COBR-filtered.webp&quot;)" data-marpit-pagination-total="84" style="background-image: url(&quot;images/COBR-filtered.webp&quot;);" aria-label="Slide 47: Pandemic statistics: filtered">
          <div class="visually-hidden">
            <h4 aria-describedby="page-number-47" id="slide-47">Pandemic statistics: filtered</h4>
            <p>This slide is the same as the previous slide, showing the pandemic grid. Only this time it has been filtered for red green colour blindness.</p>
            <p>Now, every tile is yellow, and you cannot make out from the key which tile represents high, medium or low risk.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 47</p>
              <p id="page-number-47" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>47</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="48" data-background-image="url(&quot;images/bbc-sport.webp&quot;)" data-marpit-pagination-total="84" style="background-image: url(&quot;images/bbc-sport.webp&quot;);" aria-label="Slide 48: Colour blindness solution">
          <div class="visually-hidden">
            <h4 aria-describedby="page-number-48" id="slide-48">Colour blindness solution</h4>
            <p>This slide shows the BBC sport website which also uses a red and green status, to represent if a team won or lost.</p>
            <p>In this example, the colour is accompanied with a W for a win and an L for a loss, so even if you cannot see the colour, you can get the correct information from it.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 48</p>
              <p id="page-number-48" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>48</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="49" data-marpit-pagination-total="84" aria-label="Slide 49: Colour blindness is an example of impairment vs disability">
          <div class="size-1-5 width-100">
            <h4 aria-describedby="page-number-49" id="slide-49">Colour blindness is an example of impairment vs disability</h4>
          </div>
          <div class="size-1-5 width-100">
            <p>1 in 12 men, and 1 in 200 women are colour blind.</p>
          </div>
          <footer><a href="https://www.colourblindawareness.org/colour-blindness/">Colourblind Awareness</a>
            <div class="pagination">
              <p class="visually-hidden">End of slide 49</p>
              <p id="page-number-49" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>49</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="50" data-marpit-pagination-total="84" aria-label="Slide 50: People are not always disabled by their impairments">
          <div class="size-1-5 width-100">
            <h2 aria-describedby="page-number-50" id="slide-50">People are not always disabled by their impairments</h2>
            <p>They’re disabled by poorly designed environments.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 50</p>
              <p id="page-number-50" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>50</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="51" data-marpit-pagination-total="84" aria-label="Slide 51: Around 67% of WCAG failures originate in the design">
          <div class="size-1-5 width-100">
            <h3 aria-describedby="page-number-51" id="slide-51">Around 67% of WCAG failures originate in the design</h3>
            <p>Anna E Cook</p>
          </div>
          <footer><a href="https://www.youtube.com/watch?v=dQVrfS74xyM">Why we need more accessibility designers</a>
            <div class="pagination">
              <p class="visually-hidden">End of slide 51</p>
              <p id="page-number-51" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>51</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="52" data-marpit-pagination-total="84" aria-label="Slide 52: As designers, we must shoulder some of the blame.">
          <div class="size-1-5 width-80">
            <h3 aria-describedby="page-number-52" id="slide-52">As designers, we must shoulder some of the blame.</h3>
            <p class="visually-hidden">
              This slide does not contain any additional information.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 52</p>
              <p id="page-number-52" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>52</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="53" data-marpit-pagination-total="84" aria-label="Slide 53: We often design things which fit with our own world-view">
          <div class="size-1-5 width-80">
            <h3 aria-describedby="page-number-53" id="slide-53">We often design things which fit with our own world-view</h3>
          </div>
          <p class="visually-hidden">
            This slide does not contain any additional information.
          </p>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 53</p>
              <p id="page-number-53" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>53</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="54" data-background-image="url(&quot;images/kings-cross-station.webp&quot;)" data-marpit-pagination-total="84" style="background-image: url(&quot;images/kings-cross-station.webp&quot;);" aria-label="Slide 54: Kings Cross Station">
          <div class="visually-hidden">
            <h4 aria-describedby="page-number-54" id="slide-54">Kings Cross Station</h4>
            <p>This photo shows a customer service desk at Kings Cross Station after a refurbishment.</p>
            <p>The desk is around chest height for a man stood next to it, but a section of it drops down at a 45 degree angle onto a lower section of desk where wheelchair users and people of short stature can have face to face conversations.</p>
            <p>After the refurbishment, a black sticker has been placed over the window to square the design off to match the height of the tall desk.</p>
            <p>A woman in a wheelchair sits infront of the lower desk, completely obscured by the black sticker.</p>
          </div>
          <footer>Photo credit: <a href="https://twitter.com/katyarnie">Katy Arnold</a>
            <div class="pagination">
              <p class="visually-hidden">End of slide 54</p>
              <p id="page-number-54" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>54</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="55" data-marpit-pagination-total="84" aria-label="Slide 55: Accessible by design">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-55" id="slide-55">Accessible by design</h3>
            <p>Rather than ‘accessible because it passed an audit’.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 55</p>
              <p id="page-number-55" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>55</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="56" data-marpit-pagination-total="84" aria-label="Slide 56: Introducing CogA">
          <div class="size-1-5">
            <h2 aria-describedby="page-number-56" id="slide-56">Introducing CogA</h2>
            <p>Cognitive Accessibility Guidelines</p>
          </div>
          <footer><a href="https://www.w3.org/TR/coga-usable/">Cognitive Accessibility Guidelines</a>
            <div class="pagination">
              <p class="visually-hidden">End of slide 56</p>
              <p id="page-number-56" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>56</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="57" data-marpit-pagination-total="84" aria-label="Slide 57: CogA is a set of 8 principles">
          <div class="size-1-5 width-100">
            <h3 aria-describedby="page-number-57" id="slide-57">CogA is a set of 8 principles</h3>
            <p>Spoiler: Most of them are just good design.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 57</p>
              <p id="page-number-57" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>57</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="58" data-marpit-pagination-total="84" aria-label="Slide 58: Caveat:">
          <div class="size-1-5 width-80">
            <h3 aria-describedby="page-number-58" id="slide-58">Caveat:</h3>
            <p>I’ll show 1 example for each principle, but there will be more things to consider.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 58</p>
              <p id="page-number-58" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>58</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="59" data-marpit-pagination-total="84" aria-label="Slide 59: 1. Help users understand what things are and how to use them">
          <div class="size-1-5 width-80">
            <h3 aria-describedby="page-number-59" id="slide-59">1. Help users understand what things are and how to use them</h3>
            <p class="visually-hidden">
              This slide does not contain any additional information.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 59</p>
              <p id="page-number-59" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>59</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="60" data-marpit-pagination-total="84" aria-label="Slide 60: Use consistent labels and icons">
          <div class="row">
            <div class="col">
              <h4 aria-describedby="page-number-60" id="slide-60">Use consistent labels and icons</h4>
              <p>It makes interactions predictable and learnable.</p>
            </div>
            <div class="col width-100">
              <p><img src="images/coga-1.webp" alt="4 buttons in a row. A trash icon is present on each button. 3 have labels, they read: delete, remove, clear. The fourth button has no label and features the icon on its own." width="500"></p>
              <div class="visually-hidden">
                <p>Questions:</p>
                <ul>
                  <li>
                    <p>Are delete and remove different?</p>
                  </li>
                  <li>
                    <p>If you saw the icon on it’s own, would you be confident you understood what it does?</p>
                  </li>
                </ul>
              </div>
            </div>


          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 60</p>
              <p id="page-number-60" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>60</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="61" data-marpit-pagination-total="84" aria-label="Slide 61: 2. Help users to find what they need">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-61" id="slide-61">2. Help users to find what they need</h3>
            <p class="visually-hidden">
              This slide does not contain any additional information.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 61</p>
              <p id="page-number-61" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>61</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="62" data-marpit-pagination-total="84" aria-label="Slide 62: Use a clear and understandable page structure">
          <div class="row">
            <div class="col">
              <h4 aria-describedby="page-number-62" id="slide-62">Use a clear and understandable page structure</h4>
              <p>Use the correct headings to nest content in a way that makes sense.</p>
            </div>
            <div class="col width-100">
              <p><img src="images/coga-2.webp" alt="A series of headings about COVID-19, ranging from H1 to H3. A more detailed explanation of each heading can be found in a list after this image." width="500"></p>
              <div class="visually-hidden">
                <ul>
                  <li>
                    <p>h1: Stop the spread of COVID-19</p>
                  </li>
                  <li>
                    <p>h2: How to stay safe</p>
                  </li>
                  <li>
                    <p>h3: Wearing a mask</p>
                  </li>
                  <li>
                    <p>h3: Washing your hands</p>
                  </li>
                  <li>
                    <p>h3: Social distancing</p>
                  </li>
                  <li>
                    <p>h2: How to get a test</p>
                  </li>
                  <li>
                    <p>h3: Getting tests if you’re a key worker</p>
                  </li>
                  <li>
                    <p>h3: Getting tests for a care home</p>
                  </li>
                </ul>
              </div>
            </div>


          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 62</p>
              <p id="page-number-62" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>62</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="63" data-marpit-pagination-total="84" aria-label="Slide 63: 3. Use clear and understandable content">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-63" id="slide-63">3. Use clear and understandable content</h3>
            <p class="visually-hidden">
              This slide does not contain any additional information.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 63</p>
              <p id="page-number-63" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>63</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="64" data-marpit-pagination-total="84" aria-label="Slide 64: Use plain language">
          <div class="row">
            <div class="col">
              <h4 aria-describedby="page-number-64" id="slide-64">Use plain language</h4>
              <p>If you need to use industry language or acronyms, explain what they mean.</p>
            </div>
            <div class="col width-100">
              <p><img src="images/coga-3.webp" alt="Two descriptions. One reads: the burger was tasty. The other reads:       The umami and brioche combination was a masterpiece of culinary composition, where the subtle interplay of flavours and textures coalesced into a dynamic flavour profile, that was nothing short of a transcendent culinary experience. A label underneath says the complex text was generated using chatGPT" width="500"></p>
              <div class="visually-hidden">
                <ul>
                  <li>
                    <p>h1: Stop the spread of COVID-19</p>
                  </li>
                  <li>
                    <p>h2: How to stay safe</p>
                  </li>
                  <li>
                    <p>h3: Wearing a mask</p>
                  </li>
                  <li>
                    <p>h3: Washing your hands</p>
                  </li>
                  <li>
                    <p>h3: Social distancing</p>
                  </li>
                  <li>
                    <p>h2: How to get a test</p>
                  </li>
                  <li>
                    <p>h3: Getting tests if you’re a key worker</p>
                  </li>
                  <li>
                    <p>h3: Getting tests for a care home</p>
                  </li>
                </ul>
              </div>
            </div>


          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 64</p>
              <p id="page-number-64" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>64</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="65" data-marpit-pagination-total="84" aria-label="Slide 65: 4. Help users to avoid mistakes and know how to correct them">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-65" id="slide-65">4. Help users to avoid mistakes and know how to correct them</h3>
            <p class="visually-hidden">
              This slide does not contain any additional information.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 65</p>
              <p id="page-number-65" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>65</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="66" data-marpit-pagination-total="84" aria-label="Slide 66: Use clear labels and error messages">
          <div class="row">
            <div class="col">
              <h4 aria-describedby="page-number-66" id="slide-66">Use clear labels and error messages</h4>
              <p>If you know what went wrong, explain it in a way the user can understand.</p>
            </div>
            <div class="col width-100">
              <p><img src="images/coga-4.webp" alt="Part of an online form which reads: When was your passport issued? followed by 3 fields for day, month year. There are two examples showing a good error message and a bad one. The bad one reads: enter a valid issued date. The good one reads: The date your passport was issued must be in the past." width="500"></p>
            </div>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 66</p>
              <p id="page-number-66" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>66</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="67" data-marpit-pagination-total="84" aria-label="Slide 67: 5. Help users focus">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-67" id="slide-67">5. Help users focus</h3>
            <p class="visually-hidden">
              This slide does not contain any additional information.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 67</p>
              <p id="page-number-67" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>67</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="68" data-marpit-pagination-total="84" aria-label="Slide 68: Scope the current task clearly">
          <div class="row">
            <div class="col">
              <h4 aria-describedby="page-number-68" id="slide-68">Scope the current task clearly</h4>
              <p>Only present the user with what they need at each step.</p>
            </div>
            <div class="col width-100">
              <p><img src="images/coga-5.webp" alt="Two user interfaces. One is littered with buttons and form fields. The other is simpler and just has 1 field which reads &quot;what is your name&quot; followed by a single button labelled &quot;continue&quot;." width="500"></p>
            </div>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 68</p>
              <p id="page-number-68" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>68</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="69" data-marpit-pagination-total="84" aria-label="Slide 69: 6. Ensure processes do not rely on memory">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-69" id="slide-69">6. Ensure processes do not rely on memory</h3>
            <p class="visually-hidden">
              This slide does not contain any additional information.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 69</p>
              <p id="page-number-69" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>69</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="70" data-marpit-pagination-total="84" aria-label="Slide 70: Replay information if it’s needed for the current task">
          <div class="row">
            <div class="col">
              <h4 aria-describedby="page-number-70" id="slide-70">Replay information if it’s needed for the current task</h4>
              <p>Don’t rely on a user remembering information or data from previous tasks.</p>
            </div>
            <div class="col width-100">
              <p><img src="images/coga-6.webp" alt="A textarea for user input. The label reads: Thinking about the training video you watched in step 3, what do you suggest Mike could do differently in future?" width="500"></p>
            </div>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 70</p>
              <p id="page-number-70" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>70</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="71" data-marpit-pagination-total="84" aria-label="Slide 71: 7. Provide help and support">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-71" id="slide-71">7. Provide help and support</h3>
            <p class="visually-hidden">
              This slide does not contain any additional information.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 71</p>
              <p id="page-number-71" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>71</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="72" data-marpit-pagination-total="84" aria-label="Slide 72: Make feedback and support easy to find">
          <div class="row">
            <div class="col">
              <h4 aria-describedby="page-number-72" id="slide-72">Make feedback and support easy to find</h4>
              <p>Provide tailored help, such as links to specific documentation, and contact information if they cannot fix the issue themselves.</p>
            </div>
            <div class="col width-100">
              <p><img src="images/coga-7.webp" alt="The Get your State Pension service on GOV.UK. There are arrows pointing to links to help you find your invite code, telephone numbers, textphone numbers and VRS support for people who need to use sign language." width="500"></p>
            </div>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 72</p>
              <p id="page-number-72" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>72</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="73" data-marpit-pagination-total="84" aria-label="Slide 73: 8. Support adaptation and personalisation">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-73" id="slide-73">8. Support adaptation and personalisation</h3>
            <p class="visually-hidden">
              This slide does not contain any additional information.
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 73</p>
              <p id="page-number-73" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>73</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="74" data-marpit-pagination-total="84" aria-label="Slide 74: Design and build responsive interfaces">
          <div class="row">
            <div class="col">
              <h4 aria-describedby="page-number-74" id="slide-74">Design and build responsive interfaces</h4>
              <p>Support different devices, font sizes, colour modes, and accessibility settings.</p>
            </div>
            <div class="col width-100">
              <p><img src="images/coga-8.webp" alt="A set of toggle switches labelled: Dark mode, high mode, large font size, extended session timeout, animations." style="filter:contrast(2);" width="500"></p>
            </div>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 74</p>
              <p id="page-number-74" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>74</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="75" data-marpit-pagination-total="84" aria-label="Slide 75: The 8 principles of CogA">
          <h3 aria-describedby="page-number-75" id="slide-75">The 8 principles of CogA</h3>
          <ol>
            <li>Help users understand what things are and how to use them</li>
            <li>Help users to find what they need</li>
            <li>Use clear and understandable content</li>
            <li>Help users avoid mistakes and know how to correct them</li>
            <li>Help users focus</li>
            <li>Ensure processes do not rely on memory</li>
            <li>Provide help and support</li>
            <li>Support adaptation and personalisation</li>
          </ol>
          <footer><a href="https://www.w3.org/TR/coga-usable/">Cognitive Accessibility Guidelines</a>
            <div class="pagination">
              <p class="visually-hidden">End of slide 75</p>
              <p id="page-number-75" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>75</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="76" data-marpit-pagination-total="84" aria-label="Slide 76: Wrap up…">
          <div class="size-2">
            <h2 aria-describedby="page-number-76" id="slide-76">Wrap up…</h2>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 76</p>
              <p id="page-number-76" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>76</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="77" data-marpit-pagination-total="84" aria-label="Slide 77: Accessibility is just another user need.">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-77" id="slide-77">Accessibility is just another user need.</h3>
            <p>Research and design for it like anything else!</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 77</p>
              <p id="page-number-77" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>77</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="78" data-marpit-pagination-total="84" aria-label="Slide 78: Meet standards">
          <div class="size-1-5 width-80">
            <h3 aria-describedby="page-number-78" id="slide-78">Meet standards</h3>
            <p>Be WCAG compliant as the bare minimum.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 78</p>
              <p id="page-number-78" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>78</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="79" data-marpit-pagination-total="84" aria-label="Slide 79: Go beyond standards">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-79" id="slide-79">Go beyond standards</h3>
            <p>Consider CogA and Design Justice.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 79</p>
              <p id="page-number-79" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>79</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="80" data-marpit-pagination-total="84" aria-label="Slide 80: Be aware of your own bias">
          <div class="size-1-5 width-80">
            <h3 aria-describedby="page-number-80" id="slide-80">Be aware of your own bias</h3>
            <p>Don’t assume you know what people need.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 80</p>
              <p id="page-number-80" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>80</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="81" data-marpit-pagination-total="84" aria-label="Slide 81: The statistics are flawed">
          <div class="size-1-5 width-80">
            <h3 aria-describedby="page-number-81" id="slide-81">The statistics are flawed</h3>
            <p>More people rely on accessibility than 1 in 5.</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 81</p>
              <p id="page-number-81" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>81</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="82" data-marpit-pagination-total="84" aria-label="Slide 82: Don’t be the person that says:">
          <div class="size-1-5 width-100">
            <h3 aria-describedby="page-number-82" id="slide-82">Don’t be the person that says:</h3>
            <p>“We don’t have any users with disabilities.”</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 82</p>
              <p id="page-number-82" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>82</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="83" data-marpit-pagination-total="84" aria-label="Slide 83: Remember:">
          <div class="size-1-5">
            <h3 aria-describedby="page-number-83" id="slide-83">Remember:</h3>
            <p>Accessibility is about making things work for EVERYONE!</p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 83</p>
              <p id="page-number-83" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>83</span>
              </p>
            </div>
          </footer>
        </section>
        <section id="84" data-marpit-pagination-total="84" aria-label="Slide 84: Thanks!">
          <div class="size-1-5">
            <h2 aria-describedby="page-number-84" id="slide-84">Thanks!</h2>
            <p>Craig Abbott<br>
              <a href="https://twitter.com/abbott567">@abbott567</a>
            </p>
          </div>
          <footer>
            <div class="pagination">
              <p class="visually-hidden">End of slide 84</p>
              <p id="page-number-84" aria-hidden="true">
                <span class="visually-hidden">slide </span>
                <span>84</span>
              </p>
            </div>
          </footer>
        </section>
      </div>
    </main>


  </body>

</html>