---
eleventyExcludeFromCollections: true
title: 'ARIA labels - HTML: ARIA'
meta:
  description: An example using different aria-labels for accessibility.
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>{{title}} - {{site.name}}</title>
    {%- if meta.canonicalURL -%}
      <link rel="canonical" href="{{meta.canonicalURL}}" />
    {%- else -%}
      <link rel="canonical" href="https://craigabbott.co.uk{{page.url}}" />
    {%- endif -%}

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <meta name="title" content="{{title}}">
    <meta name="description" content="{{meta.description}}">

    {%- include 'meta/theme.njk' -%}
    {%- include 'meta/card-twitter.njk' -%}
    {%- include 'meta/card-og.njk' -%}
        
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Ctext%20y='.9em'%20font-size='90'%3E😸%3C/text%3E%3C/svg%3E">
    <style>
      html { font-family:sans-serif; font-size:1.5rem; padding:5%; }
      input { border: 2px solid black; font-size: 1rem; padding: 5px; display: block; margin-bottom: 1rem; }
      hr { margin: 3rem 0 }
    </style>
  </head>

  <body>
    <main>
      <h1>ARIA labels</h1>

      <label>
        This is a native label
        <input type="text">
      </label>

      <hr role="presentation">

      <input type="text" aria-label="This is labelled using aria label">

      <hr role="presentation">

      <p id="p-example">This is a paragraph assigned to the input below using aria labelled by</p>
      <input aria-labelledby="p-example">

      <hr role="presentation">

      <label for="db-example">
        This is a another native label
      </label>
      <p id="db-hint">This is a paragraph which adds additional context using aria described by</p>
      <input id="db-example" type="text" aria-describedby="db-hint">
    </main>
  </body>
</html>