body {
  background-color: $body-background-light;
  color: $body-text-light;

  @media (prefers-color-scheme: dark) {
    background-color: $body-background-dark;
    color: $body-text-dark;
  }
}

blockquote {
  border-color: $border-colour-light;
  @media (prefers-color-scheme: dark) {
    border-color: $border-colour-dark;
  }
}

img {
  opacity: 100%;
  border-color: $border-colour-light;
  @media (prefers-color-scheme: dark) {
    border-color: $border-colour-dark;
  }
}

code:focus {
  box-shadow: 0px 0px 0px 5px $focus-background-light;
  outline-color: $focus-colour-light;
  @media (prefers-color-scheme: dark) {
    box-shadow: 0px 0px 0px 5px $focus-background-dark;
    outline-color: $focus-colour-dark;
  }
}
