body[data-theme="dark"] {
  h1, h2, h3, h4, h5, h6 {
    border-top-color: $border-colour-dark;
  }

  a {
    color: $link-colour-dark;
  
    &:visited {
      color: $link-visited-dark;
    }
  
    &:hover {
      color: $link-hover-dark;
      background: $body-text-dark;
    }
  
    &:focus {
      color: $focus-colour-dark;
      background-color: $focus-background-dark;
      -webkit-box-shadow: 0 -2px $focus-background-dark, 0 4px $focus-colour-dark;
      box-shadow: 0 -2px $focus-background-dark, 0 4px $focus-colour-dark;
    }
  }

  p > code {
    font-weight: 700;
  }
}