---
layout: layouts/blog-page.njk
pagination:
  data: collections._posts
  alias: post
  size: 10
  reverse: true
permalink: '/blog/{{"page-" + (pagination.pageNumber + 1) if pagination.pageNumber > 0}}/'
eleventyComputed: 
  title: 'Blog {{"page-" + (pagination.pageNumber + 1) if pagination.pageNumber > 0}}'
  meta:
    description: A collection of blog posts on craigabbott.co.uk
    canonicalURL: 'https://craigabbott.co.uk/{{"page-" + (pagination.pageNumber + 1) if pagination.pageNumber > 0}}/'
    image:
      href: '/images/share-image-1.webp'
      alt: 'Craig Abbott presenting at a conference'
---