---
layout: layouts/base.njk
title: CV
permalink: '/cv/'
meta:
  description: 'My personal website. Check out my blog, talks or portfolio work.'
  canonicalURL: 'https://craigabbott.co.uk/'
  image:
    href: '/images/share-image-1.jpg'
    alt: 'Craig Abbott presenting at a conference'
---

<h1>Test</h1>