---
layout: layouts/base.njk
title: Talks
permalink: /talks/
meta:
  description: My talks. Check out decks and talks I've presented.
  canonicalURL: 'https://craigabbott.co.uk/work/'
  image:
    href: '/images/share-image-1.webp'
    alt: 'Craig Abbott presenting at a conference'
---

<h1>
  Talks
</h1>

{%- for talk in collections._talks -%}
  <h2>
    {{talk.data.title}}
  </h2>
  
  {{talk.data.excerpt|markdown|safe}}
  
  <details class="margin-bottom-!-1">
    <summary role="link">
      Previous dates 
      <span class="visually-hidden">: for {{talk.data.title}}</span>
    </summary>
    <div class="card__summary">
      {%- for item in talk.data.previous -%}
        <li>
          {%- if item.link -%}
            <a href="{{item.link}}">
              {{item.where}}
            </a>
            - {{item.when}}
          {% else %}
            {{item.where}} - {{item.when}}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </div>
  </details>
  
  {%- if talk.data.deck -%}
    <p>
      <a href="{{talk.data.deck}}">
        View slides<span class="visually-hidden"> for {{talk.data.title}}</span>
      </a>
    </p>
  {%- endif -%}
  
  {%- if not loop.last -%}
    <hr>
  {%- endif -%}
{%- endfor -%}
 
{# ## Lockdown. Mental Health. And, Dinosaurs! #}

