---
layout: layouts/base.njk
title: Talks
permalink: /talks/
meta:
  description: My talks. Check out decks and talks I've presented.
  canonicalURL: 'https://craigabbott.co.uk/work/'
  image:
    href: '/images/share-image-1.webp'
    alt: 'Craig Abbott presenting at a conference'
---

<h1>
  Talks
</h1>

{%- for talk in collections._talks|reverse -%}
  <h2>
    {{talk.data.title}}
  </h2>
  
  {{talk.data.excerpt|markdown|safe}}
  
  <details class="margin-bottom-!-1">
    <summary role="link">
      Previous dates 
      <span class="visually-hidden">: for {{talk.data.title}}</span>
    </summary>
    <div class="card__summary">
      {%- for item in talk.data.previous -%}
        <li>
          {%- if item.link -%}
            <a href="{{item.link}}">
              {{item.where}}
            </a>
            - {{item.when}}
          {% else %}
            {{item.where}} - {{item.when}}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </div>
  </details>
  
  <p>
    {%- if talk.data.deck -%}
      <a href="{{talk.data.deck}}">
        View slides<span class="visually-hidden"> for {{talk.data.title}}</span>
      </a>
    {%- endif -%}
  </p>
  
  {%- if not loop.last -%}
    <hr>
  {%- endif -%}
{%- endfor -%}
{# 
## Lockdown. Mental Health. And, Dinosaurs!


## Empathy in Accessibility

This talk is about building empathy for users with impairments, making sure we are aware of how to design services that don't disable people.

Examples of things that have tripped me up in the past as well as suggesting tools we can use to help us test our designs.

- [Watch Empathy in accessibility on YouTube](https://www.youtube.com/watch?v=OyGuEXq2PCc&t=243s)
- [View Empathy in accessibility slides on Speaker Deck](https://speakerdeck.com/abbott567/empathy-in-accessibility)
- [View Empathy in accessibility slides as HTML](https://empathy-in-accessibility.netlify.app/start.html)

This talk was delivered at:
- Chester Devs - November 2020
- BPDTS - October 2020
- Asda / Walmart - September 2020
- Centre for Addiction and Mental Health Canada - July 2020
- Northumberland Council - June 2020
- Middlesbrough Frontend - March 2020
- Digital Leaders Week Newcastle - June 2019
- Newcastle City Council - June 2019
- Child Maintenance Group - June 2019
- DWP Blackpool - May 2019
- HMRC Newcastle May 2019
- Leeds Digital Festival - May 2019
- DWP Software Engineering Roadshow Blackpool - March 2019
- DWP Software Engineering Roadshow Newcastle - March 2019
- DWP Frontend meet-up - February 2019
- Services Week - January 2019
- HMRC - January 2019
- Sunderland Digital - August 2018
- Accessibility London - July 2018
- Frontend North East on - July 2018

## Prototyping with purpose

A talk about what prototypes are, why we use them, and how to avoid some common mistakes. Techniques and resources you can use, along with some working examples so you can build a prototype of your own.

Examples of things that have tripped me up in the past as well as suggesting tools we can use to help us test our designs.

[View Prototyping with purpose slides on Speaker Deck](https://speakerdeck.com/abbott567/prototyping-with-purpose)

This talk was delivered at:

- DXN Nottingham - 10 October 2018
- NUX Manchester - 4 June 2018
- Generator UX Conference - 17 January 2018
- NUX Newcastle - 28 September 2017
- Sunderland Digital - 19 July 2017

## What is 'normal' anyway?

In this, I talk about dealing with mental health and my personal journey. It is based on a blog post of the same name.

- [View What is 'normal' anyway slides on Speaker Deck](https://speakerdeck.com/abbott567/what-is-normal-anyway)
- [Read What is 'normal' anyway blog post](/what-is-normal-anyway)

This talk was delivered at:
- Geek Mental Help Newcastle - 3rd October 2017 #}
