{% extends '../../common/layout.njk' %}

{% block content %}

<div class="container">
  <aside class="article-info">
    <dl>
      <dt class="article-info__text">Published:</dt><dd class="article-info__text">{{post.createdAt|formatDate}}</dd>
      <dt class="article-info__text">Read time:</dt><dd class="article-info__text">{{readTime}}</dd>
    </dl>
  </aside>
</div>

<main class="container" id="main" role="main">
  <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{post.title}}
      </h1>
      
      {% markdown 'posts/' + post.slug + '/post.md' %}

  </div>
</main>

{% endblock %}