$body-text-light: #222;
$body-text-dark: #ddd;

$body-secondary-light: #666;
$body-secondary-dark: #bbb;

$body-background-light: #f9f9f9;
$body-background-dark: #222;

$border-colour-light: #ccc;
$border-colour-dark: #999;

$focus-colour-light: #222;
$focus-colour-dark: #fff;

$focus-background-light: #fd0;
$focus-background-dark: #990F18;

$link-colour-light: #be1622;
$link-colour-dark: #ffbb00;

$link-visited-light: #803034;
$link-visited-dark: #c2805a;

$link-hover-light: $body-text-dark;
$link-hover-dark: $body-text-light;

$inline-code-colour-light: #912b88;
$inline-code-colour-dark: #912b88;
