{%- extends 'layouts/base.njk' -%}

{%- block main -%}
  <h1>Sitemap</h1>

  <h2>
    Pages
  </h2>
  <ul>
    {%- for page in site.pages -%}
      <li>
        <a href="{{page.href}}">
          {{page.title}}
        </a>
      </li>
    {%- endfor -%}
  </ul>

  <h2>
    Work
  </h2>
  <ul>
    {%- for project in site.projects -%}
      <li>
        <a href="{{project.href}}">
          {{project.title}}
        </a>
      </li>
    {%- endfor -%}
  </ul>

  <h2>
    Blog posts
  </h2>
  <ul>
    {%- for post in site.posts -%}
      <li>
        <a href="{{post.href}}">
          {{post.title}}
        </a>
      </li>
    {%- endfor -%}
  </ul>

{%- endblock -%}