.container {
  margin: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  max-width: 720px;
}

.read-full-article {
  margin-top: 1rem;
  margin-bottom: 0;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -9999rem;
  width: 1px;
  height: 1px;
  overflow: hidden;

  .focusable {
    &:active,
    &:focus {
      position: static;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: auto;
    }
  }
}

ul, ol {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.list--bullet,
article ul {
  li {
    list-style: disc;
    list-style-position: inside; 
  }
}

.list--number,
article ol {
  li {
    list-style: decimal;
    list-style-position: inside; 

    &::before {
      content: '';
      width: .75em;
      display: inline-block;
    }
  }
}

.rss-feed {
  padding: 5px;
  display: inline-block;
  span {
    position: absolute;
    top: auto;
    left: -9999rem;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  &:focus {
    span {
      position: static;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: auto;
    }
  }
  img {
    display: inline-block;
    border: 0;
    margin: 0;
    width: 20px;
    height: 20px;
  }
}

  