<footer class="footer" role="contentinfo">
  <div class="footer__container">
    <h2 class="visually-hidden">Support links</h2>
      <ul>
        <li><a class="no-visited-state" href="/feed.xml">RSS Feed</a></li>
        <li>
          <a class="no-visited-state" href="https://github.com/abbott567/blog/">
            <span class="visually-hidden">View this project on </span>GitHub
          </a>
        </li>
        {%- for page in site.pages -%}
          {%- if page.navFooter === true -%}
              <li><a class="no-visited-state" href="{{page.href}}">{{page.title}}</a></li>
          {%- endif -%}
        {%- endfor -%}
    </ul>
    
    <p class="footer__copyright">
      &copy; Craig Abbott {{year}}. All rights reserved.
      <output class="visually-hidden" id="current-theme" for="theme-toggle" name="current-theme" aria-live="polite">dark theme is currently active</output>
    </p>   
  </div> 
</footer>