body[data-theme="light"] {
  background-color: $body-background-light;
  color: $body-text-light;
  
  blockquote {
    border-color: $border-colour-light;
  }
  
  img {
    opacity: 100%;
    border-color: $border-colour-light;
  }

  code:focus {
    box-shadow: 0px 0px 0px 5px $focus-background-light;
    outline-color: $focus-colour-light;
  }

  @import '../../../../node_modules/highlight.js/scss/a11y-light';
  
  table {
    thead {
      tr {
        background-color: $table-head-light;
      }
    }
    tbody tr {
      border-color: $border-colour-light;
    }
  }
}

