{% extends 'layouts/base.njk' %}

{%- set metaDescription -%}
  {%- include 'posts/' + post.slug + '/meta-description.txt' -%}
{%- endset -%}

{% block content %}
<div class="container">
  <aside class="article-info">
    <dl class="article-info">
      <dt class="article-info__text">Published:</dt><dd class="article-info__text">{{post.createdAt|formatDate}}</dd>
      <dt class="article-info__text">Read time:</dt><dd class="article-info__text">{{post.readTime}}</dd>
    </dl>
  </aside>
</div>

<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">

    <article>  
      {{post.content|markdown|safe}}
    </article>

  </div>
</main>

{% endblock %}