// Light
$body-text-light: #222;
$body-secondary-light: #666;

$body-background-light: #f9f9f9;
$border-colour-light: #ccc;

$focus-colour-light: #222;
$focus-background-light: #fd0;

$link-colour-light: #be1622;
$link-visited-light: #803034;
$link-hover-light: #ddd;

$inline-code-colour-light: #912b88;

// Dark
$body-text-dark: #ddd;
$body-secondary-dark: #bbb;
$body-background-dark: #222;

$border-colour-dark: #999;

$focus-colour-dark: #fff;
$focus-background-dark: #990F18;

$link-colour-dark: #ffbb00;

$link-visited-dark: #c2805a;

$link-hover-dark: #222;

$inline-code-colour-dark: #d981d2;