{% extends '../../common/layout.njk' %}

{% block content %}

<main class="container" id="main" role="main">
  <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Work
      </h1>
      
      <p>
        Coming soon
      </p>
  </div>
</main>

{% endblock %}