{% extends '../../common/layout.njk' %}

{%- block metaDescription -%}
  Projects I am proud of and things I am working on. 
{%- endblock -%}

{% block content %}
<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Work
    </h1>
    
    <div class="section">
      <h2 class="heading-large">
        DWP Accessibility Manual
      </h2>
      <p>
        The <a href="https://accessibility-manual.dwp.gov.uk">DWP Accessibility Manual</a> is one of the projects I'm most proud of. 
        It is a collection of accessibility guidance and best practice all in one place.
      </p>
      <p>
        I've contributed countless hours, pushed over 60,000 lines of code, written pages and pages of guidance, but I want it to be owned by the community. 
        It's completely open source. <a href="https://github.com/dwp/accessibility-manual">View the DWP Accessibility Manual on GitHub</a>, contrubute to it, 
        and feel free to reuse any of the codebase for your own projects.
      </p>
      <p>
        The project is based heavily on the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>, only it is using a different configuration 
        behind the scenes to make it feel more like the <a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype Kit</a>. It uses 
        <a href="https://mozilla.github.io/nunjucks/templating.html">Nunjucks</a> and <a href="https://www.markdownguide.org/">Markdown</a>, so pages 
        and guidance are easy to update and contribute to.
      </p>
    </div>

    <div class="section">
      <h2 class="heading-large">
        WCAGify
      </h2>
      <p>
        WCAGify is a simple function for people who need to reference the Web 
        Content Accessibility Guidelines frequently and are tired of copying and 
        pasting.
      </p>
      <p>
        WCAGify looks up WCAG 2.1 criteria based on a reference number supplied 
        as a string and returns an object with the URL and name etc. It means 
        you don't have to get the criterion name 100% correct as long as you 
        know the reference number. It also adds consistency to your reports by 
        returning the name exactly as it's formatted in the WCAG 2.1 standard.
      </p>
      <p>
        You can <a href="https://www.npmjs.com/package/wcagify">get WCAGify on NPM.org</a> 
        or <a href="https://github.com/abbott567/wcagify">view WCAGify on GitHub</a>.
      </p>
    </div>

    <div class="section">
      <h2 class="heading-large">
        A11y Palette
      </h2>
      <p>
        A11y Palette is an accessible colour palette designed to meet a contrast 
        ratio of 4.5:1. By using a contrast ratio of 4.5:1 it will always meet 
        the minimum requirement to pass 1.4.3 Contrast (Minimum).
      </p>
      <p>
        Colours are available in both Hex and RGB, so you have no excuses for 
        not using an accessible colour combination on your PowerPoint presentation.
      </p>
      <p>
        The contrast ratio for each combination is also provided automatically.
      </p>
      <p>
        You can <a href="https://htmlpreview.github.io/?https://github.com/abbott567/a11y-palette/blob/main/build/accessible-colour-palette.html">view A11y Palette</a> 
        as HTML or you can <a href="https://github.com/abbott567/a11y-palette">view A11y Palette on GitHub</a>.
      </p>
    </div>
    
  </div>
</main>

{% endblock %}