{% extends '../../common/layout.njk' %}

{% block content %}

<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Work
      </h1>
      
      <div class="section">
      <h2 class="heading-large">
        DWP Accessibility Manual
      </h2>
      <p>
        The <a href="https://accessibility-manual.dwp.gov.uk">DWP Accessibility Manual</a> is one of the projects I'm most proud of. 
        It is a collection of accessibility guidance and best practice all in one place.
      </p>
      <p>
        I've contributed countless hours, pushed over 60,000 lines of code, written pages and pages of guidance, but I want it to be owned by the community. 
        It's completely open source. <a href="https://github.com/dwp/accessibility-manual">View the DWP Accessibility Manual on GitHub</a>, contrubute to it, 
        and feel free to reuse any of the codebase for your own projects.
      </p>
      <p>
        The project is based heavily on the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>, only it is using a different configuration 
        behind the scenes to make it feel more like the <a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype Kit</a>. It uses 
        <a href="https://mozilla.github.io/nunjucks/templating.html">Nunjucks</a> and <a href="https://www.markdownguide.org/">Markdown</a>, so pages 
        and guidance are easy to update and contribute to.
      </p>
    </div>
  </div>
</main>

{% endblock %}