<div class="section">
  <h2>
    Contents
  </h2>
  <h3>
    Design Work
  </h3>
  <ul class="list list--bullet">
    {% for item in portfolio.design %}
      <li>
        <a href="#{{item.slug}}">
          {{item.title}}
        </a>
      </li>
    {% endfor %}
  </ul>

  <h3>
    Accessibility Work
  </h3>
  <ul class="list list--bullet">
    {% for item in portfolio.accessibility %}
      <li>
        <a href="#{{item.slug}}">
          {{item.title}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>