<div class="section">
  {{ renderMarkdownFile('pages/work-overview/markdown/overview-design-work.md') }}
</div>

{% for item in portfolio.design %}
  <div class="section">
    <h3 id="{{item.slug}}">
      {{item.title}}
    </h3>
    {{ renderMarkdownFile('pages/work-deep-dive/portfolio/' + item.slug + '/excerpt.md') }}
  </div>
{% endfor %}
