*, *:before, *:after {
  box-sizing: border-box;
}

html {
  width: 100%;
}

main {
  width: 100%;
  margin: auto;
  padding-bottom: 3rem;
}

body {
  margin: 0;
  font-size: 1.188rem;
}

pre {
  width: 100%;
  overflow: scroll;
  font-size: 1rem;
}

code {
  font-size: 1.2rem;
  line-height: 1.4rem;  
}

img {
  display: block;
  width: 100%;
  max-width: 630px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

li {
  line-height: 1.8rem;
}

blockquote {
  margin-left: 0;
  padding-left: 1.25rem;
  border-left-width: 5px;
  border-left-style: solid;
}

fieldset {
  display: inline-block;
  padding: 0;
  border: 0;
}