@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

html {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
}

a {
  text-decoration: underline;

  &:focus {
    outline-width: 3px;
    outline-style: solid;
    outline-color: transparent;
    text-decoration: none;
  }
}

.heading-xlarge {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.heading-large {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.heading-medium {
  font-size: 1.3rem;
  margin-top: 2rem;
}

.heading-small {
  margin-top: 2rem;
  font-size: 1.1rem;
}

.font-size-small {
  font-size: 1rem;
}