body[data-theme="dark"] {
  .skip-link {
    &:focus {
      color: $focus-colour-dark;
      background-color: $focus-background-dark;
      -webkit-box-shadow: 0 -2px $focus-background-dark, 0 4px $focus-colour-dark;
      box-shadow: 0 -2px $focus-background-dark, 0 4px $focus-colour-dark;
    }
  }
}
