@mixin theme__footer--light {
  .page-footer {
    .support-links {
      border-top-color: $border-colour-light;
    }

    a {
      &:visited {
        color: $link-colour-light;
      }
  
      &:hover {
        color: $link-hover-light;
      }
  
      &:focus {
        color: $focus-colour-light;
      }
    }
  }
}