<footer class="page-footer" role="contentinfo">
  <div class="visually-hidden">
  <h2 class="visually-hidden">Contact me</h2>
    <ul class="support-links">
      <li>
        <a href="https://a11y.info/@craigabbott" rel="me"><span class="visually-hidden">a11y.info/@craigabbott on </span>Mastodon</a>
      </li>
      <li>
        <a href="https://twitter.com/abbott567" rel="me"><span class="visually-hidden">abbott567 on </span>Twitter</a>
      </li>
      <li>
        <a href="https://uk.linkedin.com/in/abbott567" rel="me"><span class="visually-hidden">abbott567 on </span>LinkedIn</a>
      </li>
      <li>
        <a href="https://instagram.com/abbott567" rel="me"><span class="visually-hidden">abbott567 on </span>Instagram</a>
      </li>
    </ul>
  </div>

  <h2 class="visually-hidden">Support links</h2>
  <ul class="support-links">
    <li><a href="/accessibility">Accessibility</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/feed.xml">RSS Feed</a></li>
    <li><a href="/sitemap">Sitemap</a></li>
  </ul>

  
  <h2 class="visually-hidden">Project links</h2>
  <ul class="project-links">
    <li>Powered by <a href="https://nodejs.org/en/">NodeJs</a></li>
    <li><a href="https://github.com/abbott567/blog/">View this project on GitHub</a></li>    
  </ul>
</footer>
