{% extends 'layouts/base.njk' %}

{% set title = 'Deep-dive: ' + config.title %}

{%- set metaDescription -%}
  {%- include 'pages/work-deep-dive/portfolio/' + config.slug +'/meta-description.txt' -%}
{%- endset -%}

{% block content %}
<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">
      <h1>
        <span class="heading-caption">Deep-dive</span><span class="visually-hidden">: </span>
        {{config.title}}
      </h1>
      <div class="md">
        {{ renderMarkdownFile('pages/work-deep-dive/portfolio/' + config.slug + '/post.md') }}
      </div>
  </div>
</main>

{% endblock %}