---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
meta:
  description: >-
    Sitemap for craigabbott.co.uk. Pages, posts, work, talks and decks.
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    {%- set loc -%}{{site.url}}{{page.url|url}}{%- endset -%}
    {% if loc !== '.' %}
      <url>
        <loc>{{site.url}}{{page.url|url}}</loc>
        <lastmod>{{page.date.toISOString()}}</lastmod>
      </url>
    {% endif %}
  {% endfor %}
</urlset>
