<div class="a11y" aria-label="Accessibility tools">
  <fieldset>
    <legend class="visually-hidden">Font size</legend>
    <button id="font-size-up" class="font-size-change" data-amount="0.2" aria-label="Increase font size">A+</button>
    <button id="font-size-down" class="font-size-change" data-amount="-0.2" aria-label="Decrease font size">A-</button>
  </fieldset>

  <fieldset>
    <legend class="visually-hidden">Theme</legend>
    <button id="theme-default" class="colour-change" data-theme="default" aria-label="Change theme to white background with black text">A</button>
    <button id="theme-black-white" class="colour-change _black-white" data-theme="theme-black-white" aria-label="Change theme to black background with white text">A</button>
    <button id="theme-blue-yellow" class="colour-change _blue-yellow" data-theme="theme-blue-yellow" aria-label="Change theme to blue background with yellow text">A</button>
    <button id="theme-yellow-black" class="colour-change _yellow-black" data-theme="theme-yellow-black" aria-label="Change theme to yellow background with black text">A</button>
  </fieldset>

  <fieldset>
    <legend class="visually-hidden">Paragraph borders</legend>
    <button id="p-borders-off" class="p-borders-change" data-pBorders="off" aria-label="Remove paragraph borders">A</button>
    <button id="p-borders-on" class="p-borders-change p-borders__on" data-pBorders="on" aria-label="Add paragraph borders">A</button>
  </fieldset>

  <fieldset>
    <legend class="visually-hidden">Font</legend>
    <button id="font-default" class="font-change" aria-label="Change font to Open Sans">Default</button>
    <button id="font-dyslexia" class="font-change dyslexia" data-font="dyslexia" aria-label="Change font to Open Dyslexic">Open Dyslexic</button>
  </fieldset>
</div>