{% extends '../common/layout.njk' %}
{% set pageTitle = "Error" %}

{% block content %}
  <main class="error" id="error" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">
          {{err.heading}}
        </h1>
        <p>
          {{err.message}}
        </p>
        <p>
          
        </p>
      </div>
    </div>
  </main>
  {% if dev %}
    <pre>
      Status: {{err.status}}
      {{err.stack}}
    </pre>
    <pre>
      {{err|dump(2)}}
    </pre>
  {% endif %}
{% endblock %}