{% extends '../common/layout.njk' %}
{% set pageTitle = "Error" %}

{% block content %}
  <main class="error" id="error" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1>{{message}}</h1>
        <h2>{{error.status}}</h2>
      </div>
    </div>
  </main>
  <pre>
    {{error.stack}}
  </pre>
{% endblock %}