<footer>
  <ul class="list-no-bullets">
    <li>Powered by <a href="https://nodejs.org/en/">NodeJs</a></li>
    <li><a href="https://nodejs.org/en/">View this project on GitHub</a></li>    
  </ul>
</footer>