<a href="#content" class="skiplink">Skip to main content</a>

<header>
  <div class="nav-wrapper">
    <nav>
      <a href="/">craigabbott.co.uk</a>
    </nav>

    {% include './_a11y-tool.njk' %}
  </div>
</header>
