<a href="#content" class="skiplink">Skip to main content</a>

<header>
  <div class="nav-wrapper">
    <nav>
      <a href="/">craigabbott.co.uk</a>
    </nav>

    <div class="a11y" aria-label="Accessibility tools">
      <fieldset>
        <legend class="visually-hidden">Font size</legend>
        <button class="font-size-change" data-amount="0.2" aria-label="Increase font size">A+</button>
        <button class="font-size-change" data-amount="-0.2" aria-label="Decrease font size">A-</button>
      </fieldset>

      <fieldset>
        <legend class="visually-hidden">Theme</legend>
        <button class="colour-change" data-theme="default" aria-label="Change theme to white background with black text">A</button>
        <button class="colour-change _black-white" data-theme="theme-black-white" aria-label="Change theme to black background with white text">A</button>
        <button class="colour-change _blue-yellow" data-theme="theme-blue-yellow" aria-label="Change theme to blue background with yellow text">A</button>
        <button class="colour-change _yellow-black" data-theme="theme-yellow-black" aria-label="Change theme to yellow background with black text">A</button>
      </fieldset>

      <fieldset>
        <legend class="visually-hidden">Font</legend>
        <button class="font-change" aria-label="Change font to Open Sans">Default</button>
        <button class="font-change dyslexia" data-font="dyslexia" aria-label="Change font to Open Dyslexic">Open Dyslexic</button>
      </fieldset>
    </div>
  </div>
</header>
