<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title + ' - ' if title}} {{appName}}</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  </head>

  <body>
    {% include './components/skip-link/template.njk' %}
    {% include './components/header/template.njk' %}
    
    {% block content %}{% endblock %}
    {% include './components/footer/template.njk' %}

    <script src="/js/application.js"></script>
  </body>
</html>
