{% set title = (title + ' - ' if title) + appName %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link rel="canonical" href="{{canonical}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    
    <title>{{title}}</title>
    <meta name="title" content="{{title}}">
    <meta name="description" content="{{metaDescription}}">

    <meta name="theme-color" content="#f9f9f9">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#f9f9f9">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#222222">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{canonical}}">
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:image" content="/images/share-image-1.jpg" />
    <meta name="twitter:image:alt" content="Craig Abbott presenting at a conference">
    <meta name="twitter:site" content="craigabbott.co.uk" />

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{canonical}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{metaDescription}}">
    <meta property="og:image" content="/images/share-image-1.jpg">
    <meta property="og:image:alt" content="Craig Abbott presenting at a conference">
    <meta property="og:site_name" content="craigabbott.co.uk">
  </head>

  <body>
    {% include './components/skip-link/template.njk' %}
    {% include './components/header/template.njk' %}
    
    {% block content %}{% endblock %}
    {% include './components/footer/template.njk' %}

    <script src="/js/application.js"></script>
  </body>
</html>
