{% extends '../../common/layout.njk' %}

{% block content %}

<main class="container" id="main" role="main" tabindex="-1">
  <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Privacy
      </h1>

      <h2 class="heading-large">
        Cookies and local storage
      </h2>
      <p>
        I don't use cookies anywhere on this website.
      </p>
      <p>
        If you decide to switch between light and dark mode, your preferences will be saved in your browsers local storage.
        There is nothing personally identifiable, just a single key value pair.
      </p>
      <p>
        <code>'theme': 'light'</code><br/>
        <code>'theme': 'dark'</code>
      </p>
      
      <h2 class="heading-large">
        Types of personal information I collect
      </h2>
      <p>
        I don’t collect any personal information about you... ever. I don’t use cookies and I don’t track or analyse your browsing behaviour.
      </p>

      <h2 class="heading-large">
        Links to other websites
      </h2>
      <p>
        This privacy policy only applies to craigabbott.co.uk, and does not cover other websites or services that I link to.
      </p>
      <p>
        If you go to another website from this one, read the privacy policy on that website to find out what it does with your information.
      </p>
  </div>
</main>

{% endblock %}