.pagination {
  display: block;
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-top-width: 1px;
  border-top-style: solid;
}

.pagination__list {
  margin: 0;
  padding: 0;

  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

.pagination__item {
  width: 50%;
  float: left;
  font-size: 1rem;
  line-height: 1.15rem;
  list-style: none;
  text-align: right;
}

.pagination__link {
  display: inline-block;
  border-bottom: 0;
  font-weight: normal;
  text-decoration: none;
  @media (max-width: 640px) {
    display: block;
  }
}

.pagination__link-title {
  display: block;
  font-size: 1.4rem;
  line-height: 1.1;
  text-transform: none;
}

.pagination__item--previous {
  float: left;
  text-align: left;

  @media (max-width: 640px) {
    width: 100%;
    margin-bottom: 3rem;
    float: none;
    text-align: center;
  }
}


.pagination__item--next {
  float: right;
  text-align: right;

  @media (max-width: 640px) {
    width: 100%;
    float: none;
    text-align: center;
  }
}


.pagination__link-icon {
  display: inline-block;
  width: .63rem;
  height: .482rem;
  margin-bottom: 1px;
}

.pagination__link-label {
  display: inline-block;
  margin-top: .1rem;
  font-size: .8rem;
  font-weight: bold;
  text-decoration: underline;
}
