@mixin theme__pagination--light {
  .pagination {
    border-top-color: $border-colour-light;
  
    a {
      &:visited {
        color: $link-colour-light;
      }
  
      &:hover {
        color: $link-hover-light;
      }
  
      &:focus {
        color: $focus-colour-light;
        background-color: $focus-background-light;
        -webkit-box-shadow: 0 -2px $focus-background-light, 0 4px $focus-colour-light;
        box-shadow: 0 -2px $focus-background-light, 0 4px $focus-colour-light;
      }
    }
  }
}