body[data-theme="dark"] {
  background-color: $body-background-dark;
  color: $body-text-dark;
  
  blockquote {
    border-color: $border-colour-dark;
  }

  code:focus {
    box-shadow: 0px 0px 0px 5px $focus-background-dark;
    outline-color: $focus-colour-dark;
  }

  p > code {
    color: $inline-code-colour-dark;
  }
}

main {
  img {
    opacity: 75%;
    border-color: $border-colour-dark;
  }
}
