.nav-menu {
  border-color: $border-colour-light;
  @media (prefers-color-scheme: dark) {
    border-color: $border-colour-dark;
  }

  a {
    &:visited {
      color: $link-colour-light;
      @media (prefers-color-scheme: dark) {
        color: $link-colour-dark;
      }
    }

    &:hover {
      color: $link-hover-light;
      @media (prefers-color-scheme: dark) {
        color: $link-hover-dark;
      }
    }

    &:focus {
      color: $focus-colour-light;
      @media (prefers-color-scheme: dark) {
        color: $focus-colour-dark;
      }
    }
  }
}