$body-text: #222;
$body-secondary: #666;
$body-backgroud: #f9f9f9;

$border-colour: #ccc;

$button-background: #ccc;
$button-hover: #ddd;

$focus-background: #fd0;
$focus-colour: #222;

$link-colour: #be1622;
$link-hover: #7a1015;
$link-visited: #543884;

$selection-colour: #fff;
$selection-background: #55b6ff;

$inline-code-colour: #912b88;

$white: #fff;
