$body-text: #333;
$body-secondary: #6f777b;
$body-backgroud: #fff;

$border-colour: #ccc;

$button-background: #ccc;
$button-hover: #ddd;

$focus-background: #ffbf47;
$focus-colour: #005798;

$link-colour: #005ea5;
$link-hover: #2b8cc4;

$selection-colour: #fff;
$selection-background: #55b6ff;

$inline-code-colour: #912b88;

$white: #fff;