$body-text: #222;
$body-secondary: #666;
$body-backgroud: #f9f9f9;

$border-colour: #ccc;

$button-background: #ccc;
$button-hover: #ddd;

$focus-background: #fd0;
$focus-colour: #333;

$link-colour: #005ea5;
$link-hover: #2b8cc4;

$selection-colour: #fff;
$selection-background: #55b6ff;

$inline-code-colour: #912b88;

$white: #fff;
