@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

html {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
}

a {
  color: $link-colour;
  text-decoration: underline;

  &:visited {
    color: $link-visited;
  }

  &:hover {
    color: $link-hover;
  }

  &:focus {
    outline: 3px solid transparent;
    color: $focus-colour;
    background-color: $focus-background;
    -webkit-box-shadow: 0 -2px $focus-background, 0 4px $focus-colour;
    box-shadow: 0 -2px $focus-background, 0 4px $focus-colour;
    text-decoration: none;
  }
}

.heading-xlarge {
  font-size: 2rem;
}

.heading-large {
  font-size: 1.5rem;
}

.heading-medium {
  font-size: 1.3rem;
}

.heading-small {
  font-size: 1.1rem;
}