@import 'colours';
@import 'base';
@import 'typography';

// Components
@import '../../common/components/article-info/article-info';
@import '../../common/components/article/article';
@import '../../common/components/footer/footer';
@import '../../common/components/header/header';
@import '../../common/components/pagination/pagination';
@import '../../common/components/skip-link/skip-link';

.container {
  padding-left: 3rem;
  padding-right: 3rem;
}

.read-full-article {
  margin-top: 1rem;
  margin-bottom: 0;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -9999rem;
  width: 1px;
  height: 1px;
  overflow: hidden;

  .focusable {
    &:active,
    &:focus {
      position: static;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: auto;
    }
  }
}

.list-no-bullets {
  padding-left: 0;
  list-style: none;
}
